// ad

.ad {

  .frame-for-homepage {
    display: block;
  }

  // ads with standard hp c-column spacing
  &.middle-ad {
    margin-bottom: 12px;
  }

  // ads with standard hp ruled treatment
  &.hpmiddle-ad,
  &.hpmidleader-ad,
  &.hpbreak-ad,
  &.hpsponlink-ad {
    @include single-rule;
    padding-top: 10px;
  }

  // ads with centered creative
  &.middle-ad,
  &.hpmiddle-ad,
  &.hpmiddle3-ad,
  &.box1-ad,
  &.hpbottom1-ad,
  &.hpsponlink-ad,
  &.hpmidleader-ad {
    text-align: center;

    > iframe {
      margin: 0 auto;
    }

  } // end centered inline-unsafe ads

  &.hpmiddle3-ad {
    @include offset(0, 2, 0, bottom);

    &:before {
      @include scotch-rule;
      margin-top: 0;
      margin-bottom: 9px;
    }

  }

  &.hp-top-ad,
  &.middle-ad {
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d3d3; // not in palette
  }

  &.hpmidleader-ad {
    margin-bottom: 15px;
    padding-top: 15px;
  }

  &.hpbreak-ad {
    @include offset(0, 1, 0, top);
    margin-bottom: 20px;

    &.hidden {

      & + .video-player-region {

        .video-section {
          @include offset(0, 2, 0, top);
        }

      }

    } // end hidden

  } // end hpbreak-ad

  // ads with possibility of either centered inline-safe or inline-unsafe creative
  &.hp-top-ad,
  &.box1-ad {
    text-align: center;

    > p,
    > ul,
    > div,
    > iframe {
      text-align: left;
      margin-left: auto !important;
      margin-right: auto !important;
    }

  } // end centered inline-safe/unsafe ads

  // ads that need to be hidden in all situations
  &.header1-ad,
  &.top-ad {
    display: none;
  }

  &.top-left-ad,
  &.top-right-ad {
    height: 90px;
    min-width: 184px;
  }

  &.top-left-ad {
    float: left;
  }

  &.top-right-ad {
    float: right;
  }

  &.middle5-ad {
    @include offset(0, 0, 1, top);
  }

  &.hpmiddle-ad,
  &.hp-top-ad {
    margin-bottom: 10px;
  }

  &.moth-ad {
    margin-left: -8px;
  }

  &.hpsponlink-ad {
    @include offset(0, 2, 0, top);
    padding-top: 15px;
    margin-bottom: -20px;
  }

  &.hpmodulere2-ad {
    @include inset(0, 1, 0, top);
    margin: 5px 0 10px;
  }

  &.hpmodule-re2-ad {
    @include inset(0, 1, 0, top);
    margin: 5px 0 10px;
  }

  .dy-marketing-module {
    @include span(7, 4); // 375
  }

  &.bar1-ad {

    .user-tools & {
      @include inset(0, 1, 0, right);
    }

    .user-subscriptions-group {
      display: block;

      & + .subscribe-link {
        display: none;
      }

    } // end user-subscriptions-group

  } // end bar1-ad

  &.box1-ad {
    @include single-rule;
    padding-top: 15px;
    margin-bottom: 15px;
  }

  &.tile-ad {
    width: 120px;
    margin-bottom: 15px;
  } // end tile-ad

  &.tile-ad-2 {
    padding-left: 14px;
    border-left: 1px solid $gray-50;
    margin-left: 14px;
  } // end tile-ad-2

} // end ad

.flag-jitterbug-on {

  .ad {

    &.hp-top-ad {
      margin-bottom: 20px;
      min-height: 90px;
    }

  }

}

.tile-ads {
  display: flex;
  justify-content: center;
} // end tile-ads

.has-middle4-ad {

  .markets {

    .story {
      display: none;
    }

  } // end markets

} // end has-middle4-ad
