// global

// black page theme

.page-theme-black {

  body {
    color: $gray-35;
    background-color: $black;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $gray-90;
  }

}

// hiding content

// hide from both screenreaders and browsers

.hidden {
  display: none !important;
}

// hide visually and from screenreaders, but maintain layout

.invisible {
  visibility: hidden;
}

// hide visually and from screenreaders, but no presentation

.invisible-minimized {
  visibility: hidden !important;
  height: 0 !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

// hide only visually, but but accessible for screenreaders
// use the .visually-hidden helper class found in _helpers.scss

// print logo displayed only in print style sheet

.nyt-logo-print {
  display: none;
}
