// helpers

// data-uris

// TODO: update html to use loader classes

.loader {
  @extend %loader-t-logo-32x32-ecedeb-ffffff;

  .slideshow & {
    @extend %loader-t-logo-32x32-cccccc-e2e2e2;
  }

}

// decorators

.single-rule {
  @include single-rule(1px, solid, $gray-60);
  margin-bottom: 12px;

  @include root-selector-append(hr) {
    margin: 12px 0;
    padding-top: 0;
    border-bottom: none;
  }

} // end single-rule

.scotch-rule {
  @include scotch-rule;
  margin-top: 12px;
  margin-bottom: 12px;
}

.single-rule,
.scotch-rule {
  border-left: none; // hr tags
  border-right: none; // hr tags
}

// dev only: helper class used to test region headers
// http://designdev.prvt.nytimes.com/core_web/top_stories/wip/0529/?pg=2

.region-header {
  @include font($sans, 10, 11);
  @include data-uri-decorator-rule-1x1-e2e2e2;
  background-repeat: repeat-x;
  background-position: 0 5px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;

  span {
    background: $white;
    padding: 0 6px;
  }

}
