// layout

// this file includes helper classes
// which are html classes that include mixins
// or extend placeholders

.wrap,
.clearfix {
  @extend %clearfix;
}

// hide only visually, but have it available for screenreaders: h5bp.com/v
// .focusable extends the .visually-hidden class to allow the element to be focusable
// when navigated to via the keyboard: h5bp.com/p

.visually-hidden {
  @extend %visually-hidden;

  &.focusable {

    &:active,
    &:focus {
      @extend %no-visually-hidden;
    }

  }

} // end visually-hidden

// z index classes for the gateway and INT overlays
// typically the z index variables are used in sass
// these z index helper classes were constructed in order
// to make these values available outside of the nyt5 framework

.z-index-gateway-overlay {
  z-index: $z-index-gateway-overlay;
}

.z-index-gateway-modal {
  z-index: $z-index-gateway-modal;
}

.z-index-overlay {
  z-index: $z-index-overlay;
}

.z-index-modal {
  z-index: $z-index-modal;
}

.z-index-ad {
  z-index: $z-index-ad;
}

.z-index-full-page-ad {
  z-index: $z-index-full-page-ad;
}

