// masthead

.masthead-placeholder {
    display: none;
    height: 193px;
}

.masthead {
    @include containing-block;
    @extend %clearfix;

    .masthead-cap {
        @include containing-block;
        @extend %clearfix;
        min-height: 40px;
        padding-top: 10px;
    }

    .quick-navigation {
        @include offset-positioned(0, 1, 0, left);
        @extend %clearfix;
        float: left;
        z-index: 2;

        .button {
            float: left;
        }

        .sections-button,
        .search-button {
            @include button-theme-transparent;
            height: 30px;
            border: 1px solid transparent;
        }

        .sections-button {
            margin-left: -9px;

            .navigation-active & {
                visibility: visible;
            }

            .icon {
                @include icon-sections-16x16-333333;
            }

        }

        .search-button {

            .icon {
                @include icon-search-16x16-333333;
            }

        }

    } // end quick-navigation

    .user-tools {
        float: right;

        .user-tools-button-group {
            float: left;
            margin-top: 1px;
        }

        .user-name-button {
            @include button-theme-transparent;
            @include font($sans, 12, 16, $bold);
            text-transform: lowercase;
            color: #4d7b9f; // not in palette

            .button-text {
                vertical-align: top;
            }

            .caret-icon {
                @include caret(down, #c7c7c7); // not in palette
                margin-top: 3px;
            }

            &:hover {

                .mobile & {
                    background: none;

                    .button-text {
                        color: #4d7b9f; // not in palette
                    }

                } // end mobile

                .button-text {
                    color: $gray-30;
                }

                .caret-icon {
                    border-top-color: $gray-50;
                }

            } // end hover

            &.active {

                .mobile & {
                    background-color: $newsprint-30;
                }

                .button-text {
                    color: $gray-30;
                }

                .caret-icon {
                    @include caret(up, #c7c7c7); // not in palette
                    @include offset(0, 0, -1, top);
                }

                &:hover {

                    .caret-icon {
                        @include caret(up, #c7c7c7); // not in palette
                    }

                } // end hover

            } // end active

        } // end user-name-button

        .user-settings-button {
            @include button-theme-transparent;
            vertical-align: top;
            width: 30px;
            height: 30px;
            padding: 0;
            border: 1px solid transparent;

            .icon {
                @include icon-settings-16x16-333333;
            }

            .button-text {
                @include visually-hidden;
                margin-left: 0;
            }

        } // end user-settings-button

        .login-button,
        .subscribe-button {
            @include button-theme-action;
            height: 30px;
        }

        .login-button {
            @include offset(0, 0, 1, right);

            .lt-ie9 & {
                margin-left: 3px;
            }

        }

    } // end user-tools

    .masthead-meta {
        @include containing-block;
        @extend %clearfix;
        min-height: 90px;
        padding: 8px 0;
        border-top: 1px solid $gray-60;
        border-bottom: 2px solid $black;
    }

    .editions {
        position: absolute;
        top: -16px;
        left: 50%;
        margin-left: -103px; // half the width of the element

        &.tab {
            @include border-top-right-radius(5px);
            @include border-top-left-radius(5px);
            border: 1px solid $gray-60;
            border-bottom: none;
            height: 11px;
            padding: 4px 9px 0;
            background-color: $white;
        }

        .editions-menu {
            @include font($sans-base, 10, 15);
            margin-bottom: 0;

            li {
                @include font($sans, 10, 10);
                display: inline-block;
                margin-left: 9px;
                text-transform: uppercase;

                a {
                    color: #6f6f6f; // not in palette
                }

                &:first-child {
                    margin-left: 0;
                }

                &.active {
                    font-weight: $bold;
                }

            }

        } // end editions-menu

    } // end editions

    .branding {
        text-align: center;
    }

    .masthead-menu {
        @include span(12, 2); // 570
        @extend %clearfix;
        margin: 0 auto;
        text-align: center;

        li {
            @include font($sans, 11, 11);
            display: inline-block;
            height: 10px;
            padding: 0 10px;
            border-left: 1px solid $gray-60;
            color: $gray-20;

            .ie8 & {
                display: inline;
            }

            &:first-child {
                padding-left: 0;
                border-left: none;
            }

            &.weather {
                padding-right: 0;

                .weather-button {
                    margin: -7px 2px -5px -8px;
                    padding: 7px 4px 4px 2px;
                    text-decoration: none;
                    border: none;

                    &.active {
                        background-color: $newsprint-30;
                    }

                }

            } // end weather

            &.markets {
                @include font($sans, 11, 11, $medium);
                min-width: 120px;
                padding: 0 3px;
                text-align: left;

                .icon {
                    vertical-align: middle;
                    margin: -2px 0 0 3px;
                }

                .markets-button {
                    margin: -7px 0 -5px;
                    padding: 7px;
                    text-decoration: none;
                    text-transform: none;
                    border: none;
                    color: $gray-30;

                    &.active {
                        background-color: $newsprint-30;
                    }

                }

                .is-positive {

                    span {
                        color: #178a29; // not in palette
                    }

                    .icon {
                        @include icon-markets-positive-5x9-3c8a37;
                    }

                }

                .is-negative {

                    span {
                        color: $red-10;
                    }

                    .icon {
                        @include icon-markets-negative-5x9-a81817;
                    }

                }

            } // end markets

            &.todays-paper {

                .icon {
                    @include icon-todayspaper-12x12-333333;
                    margin-right: 6px;
                    vertical-align: bottom;
                }

            }

            &.video {

                .icon {
                    @include icon-video-12x8-333333;
                    margin-right: 4px;
                    vertical-align: 50%;
                }

            }

        } // end li

    } // end masthead-menu

    .edition-international & {

        .branding {
            margin: 16px 0 4px;
        }

    }

    .flyout-panel {
        @include box-sizing(border-box);
        @extend %clearfix;
        display: none;
        height: 83px; // 84 with border - match ribbon
        border-bottom: 1px solid $gray-60;
        background-color: $white;

        .ad {
            display: none;
            float: left;
            width: 88px;
            margin: 20px 30px 0 15px;
            padding: 0;
        }

        .close-button {
            @include button-theme-close(20px, 10px, 2px);
            display: none;
            float: right;
            margin: 9px 15px 0 0;
            padding: 0;
        }

        .search-input {
            width: 100%;
        }

    } // end flyout-panel

    .search-flyout-panel {
        z-index: $z-index-masthead;
        border-top: 1px solid $gray-60;
        border-bottom: 1px solid $gray-50;

        .search-form-control {
            margin: 26px auto 0;
        }

    } // end search-flyout-panel

    // theme-in-content & search-active overrides

    &.theme-in-content,
    .search-active & {
        @include box-shadow(1px 1px 8px rgba(102, 102, 102, 0.3));
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 0;
        border-bottom: 1px solid $gray-60;
        z-index: $z-index-masthead;
        background: $white;
        backface-visibility: hidden; // chrome bug with fixed positioning elements disappearing or doubling

        + .masthead-placeholder {
            display: block;
        }

    }

    .search-active & {

        .masthead-meta,
        .mini-navigation,
        .editions {
            display: none;
        }

        .masthead-cap-container {
            z-index: $z-index-mini-navigation; // needs mini-nav z-index when search overlay active
        }

        .masthead-cap {
            @include span(20, 0, 10); // 970
            margin: 0 auto;
            padding-top: 10px;
            background-color: $white;
        }

    } // end search-active

    &.theme-in-content {
        padding-top: 0;

        .search-flyout-panel {
            top: 40px;
        }

        .masthead-cap-container {
            position: static;
            padding-top: 0;
            border-bottom: none;
        }

        .search-active & {

            .mini-navigation {
                display: block;
            }

            .masthead-cap {
                padding-top: 0;
            }

        }

        .masthead-meta,
        .masthead-cap {
            display: none;
        }

    } // end theme-in-content

    &.theme-pinned-masthead {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 0;
        z-index: $z-index-masthead;
        background: $white;
        backface-visibility: hidden; // chrome bug with fixed positioning elements disappearing or doubling

        + .masthead-placeholder {
            display: block;
        }

        padding-top: 0;

        .search-flyout-panel {
            top: 40px;
        }

        .masthead-cap-container {
            position: static;
            padding-top: 0;
            border-bottom: none;
        }

        .search-active & {

            .mini-navigation {
                display: block;
            }

            .masthead-cap {
                padding-top: 0;
            }

        }

        .masthead-meta,
        .masthead-cap {
            display: block;
            width: 970px;
            margin: 0 auto;
        }

    }

    // responsive

    // 600
    .viewport-small-20 & {

        .flyout-panel {
            @include box-shadow-10;
            border-bottom: 1px solid $gray-50;

            .close-button {
                display: block;
            }

            .search-form-control {
                width: 550px;

                .search-form {

                    .search-input {
                        @include span(10, 2); // 480
                        margin-left: -24px;
                    }

                    .clear-button {
                        right: 80px;
                    }

                    .auto-suggest {
                        @include span(10, 2); // 480
                        @include box-shadow-10;
                        border: 1px solid $gray-60;
                        left: -9px;
                        margin-top: -1px;

                        a {
                            width: calc(100% - 20px);
                            margin-left: 0;

                            &:hover,
                            &.active {
                                width: calc(100% - 20px);
                            }

                        }

                    } // end auto-suggest

                } // end search-form

            } // end search-form-control

        } // end flyout-panel

    } // end viewport-small-20

    .viewport-medium & {

        .flyout-panel {

            .ad {
                display: block;
            }

            .close-button {
                margin-right: $grid-unit-mini;
            }

            .search-form-control {
                width: 485px;

                .search-form {

                    .search-input {
                        margin-left: 0;
                    }

                    .auto-suggest {
                        @include offset-positioned(0, 1, 0, left);
                    }

                    .clear-button {
                        right: -8px;
                    }

                } // end search-form

            } // end search-form-control

        } // end flyout-panel

    } // end viewport-medium

    // 765
    .viewport-medium-10 & {

        .flyout-panel {

            .search-form-control {
                width: 530px;

                .search-form {

                    .search-input,
                    .auto-suggest {
                        @include span(11); // 495
                    }

                    .clear-button {
                        right: 22px;
                    }

                } // end search-form

            } // end search-form-control

        } // end flyout-panel

    } // end viewport-medium-10

    // 855
    .viewport-medium-20 & {

        .flyout-panel {

            .search-form-control {
                width: 550px;

                .search-form {

                    .clear-button {
                        right: 42px;
                    }

                } // end search-form

            } // end search-form-control

        } // end flyout-panel

    } // end viewport-medium-20

} // end masthead

.user-settings-modal-container {

    .modal-pointer-up-right {
        right: 6px;
    }

} // end user-settings-modal-container
