// media

.media {

  .caption {
    @include font($serif-chelt-sh, 11, 14);

    .credit {
      @include font($sans-base, 9, 12);
      color: $newsprint-10;
      display: inline-block;

      &.credit-right {
        width: 100%;
        text-align: right;
      }
    }

  } // end caption

  &.medium-thumb {

    .caption {
      @include font($serif-chelt-sh, 11, 10);
      margin-top: 2px;

      .credit {
        display: inline;
      }

    }

  } // end medium-thumb

  &.video {
    margin-bottom: 5px;

    .video-bind {
      margin-bottom: 0;
    }

    &.promo {

      .image {
        margin-bottom: 0;

        .media-action-overlay {
          @include media-action-overlay(125);
        }

      } // end image

      .caption {

        margin-top: 0;

        .credit {
          float: none;
        }

      }

    } // end promo

  } // end video

  &.photo {
    margin-bottom: 10px;

    .image {
      margin-bottom: 0;
    }

  } // end photo

  &.slideshow {
    margin-bottom: 10px;

    // loader mixins

    @mixin loader-position {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -16px;
      margin-left: -16px;
    }

    @mixin loader-style ($height, $width) {

      .loader-container {
        @include containing-block;
        display: inline-block;
        top: ($height + px);
        height: ($height + px);
        width: ($width + px);
        margin-top: (($height * -1) + px);
        margin-bottom: ($height + px);
        background-color: $gray-60;

        .loader {
          @include loader-position;
        }

      } // end loader-container

      .image {
        width: ($width + px);
      }

    } // end loader-style

    &.in-page-player {
      @include offset(0, 1, 0, bottom);
      padding-bottom: 0;
      border-bottom: 0;

      .ab-column & {
        @include loader-style(287, 573);
      }

      .b-column & {
        @include loader-style(250, 375);
      }

      .caption {
        @include font($sans-base, 10, 12);
        @include offset(2, 0, 0, right); // 90
        width: auto !important;
        min-height: 0;
        margin-top: 8px;
        color: $gray-30;
      }

      .credit {
        @include font($sans-base, 9, 12);
        display: block;
        color: $gray-40;
      }

      // arrow size
      $arrow-size: 10px;

      .arrow-navigation {
        float: right;
        position: static;
        margin-top: 10px;

        .arrow-navigation-previous,
        .arrow-navigation-next {
          width: 18px;
          height: 18px;

          .arrow {
            @include arrows($arrow-size, $gray-40);
            margin-top: -($arrow-size / 2);
            margin-left: -($arrow-size / 2);
          }

        }

        .arrow-navigation-previous {

          &:hover,
          &.hover {

            .arrow {
              border-color: transparent $gray-40 transparent transparent;

              .arrow-conceal {
                border-color: transparent $gray-70 transparent transparent;
              }

            }

          }

        } // end arrow-navigation-previous

        .arrow-navigation-next {

          &:hover,
          &.hover {

            .arrow {
              border-color: transparent transparent transparent $gray-40;

              .arrow-conceal {
                border-color: transparent transparent transparent $gray-70;
              }

            }

          }

        } // end arrow-navigation-next

        .counter {
          @include font($sans, 9, 10);
          margin-right: 2px;
        }

      } // end nav

    } // end in-page-player

  } // end slideshow

  &.audio {
    @include containing-block;
    @include offset(1, 0, 0, right);
    @include offset(0, 1, 0, bottom);
    width: 100%; // needs to have flexible width so it works in different Homepage columns

    .headline {
      @include font($sans, 15, 17, $bold);
      margin-bottom: 4px;
      color: $gray-20;
    }

    .duration,
    .current-time {
      @include font($sans, 12, 17, $bold);
      margin-bottom: 0;
      color: $gray-45;
    }

    .summary {
      @include font($sans, 12, 17);
      margin-bottom: 0;
      color: $gray-40;
    }

    .credit {
      @include font($serif-chelt-sh, 11, 17);
      color: $gray-45;
    }

    .audio-interface {
      height: 30px;

      .play,
      .audio-fallback-control {

        .icon {
          @include caret(right, #777777, 8px, 1.5, 1);
          margin: $grid-unit-micro auto auto 11px;
          position: relative;
          border-right: none;
        }

        &:hover {

          .icon {
            @include caret(right, $blue-20, 8px, 1.5, 1);
          }

        }

      } // end play

      .pause {

        .icon {
          @include icon-media-pause-10x12-777777;
          margin: 9px auto auto 10px;
          position: relative;
        }

        &:hover {

          .icon {
            @include icon-media-pause-10x12-326891;
          }

        }

      } // end pause

      .audio-controls,
      .audio-fallback-control {
        position: absolute;

        @include root-selector-append('mobile') {
          top: 0;
          left: 0;
        }

      }

      .play,
      .pause {
        width: 30px;
        height: 30px;
        cursor: pointer;

        // on mobile, the target area for play/pause buttons is the
        // entire 30x30 area enclosed by the dial since it doesn't
        // work for the dial to be seekable anyway
        @include root-selector-append('.mobile') {
          padding: $grid-unit-mini 14px $grid-unit-mini 18px;
        }

      }

    } // end audio-interface

    .audio-player {
      @include containing-block;
      @include span(0, 2); // 30
      float: left;
      margin-top: 4px;
    }

    // Hide the restart link if the left column (the circular dial)
    // is taller than the right column (the summary text) to prevent
    // reflowing the text when it appears and disappears
    .audio-single {
      overflow: hidden;
    }

    .restart {
      display: none !important; // needed to override JS hide/show
    }

    .caption {
      @include inset(1, 0, 0, left);
    }

  } // end audio

} // end media
