// menu

.menu {

  &.layout-horizontal {
    @extend %clearfix;

    li {
      float: left;
      padding: 0 $grid-unit-micro;

      &:first-child {
        padding-left: 0;
      }

    }

  }

  &.with-pipes {

    li {
      border-left: 1px solid $gray-40;

      &:first-child {
        border-left: none;
      }

    }

  }

  // themes

  &.theme-links {

    li {
      @include font($sans, 11, 10, $light);
      height: 10px;
    }

  } // end theme-links

} // end menu
