// story

.story {

  &.banner {
    text-align: center;
  }

  &.theme-feature {

    .media {
      margin-bottom: 8px;

      &.slideshow {
        margin-bottom: 20px;
      }

      &.photo {
        width: 355px;
        margin-left: auto;
        margin-right: auto;
      }

      &.photo,
      &.video {

        .caption {
          text-align: right;
          margin-top: -2px;

          .caption-text {
            display: none;
          }

        }


      }

    } // end media

    &.video-promo-small {

      .video-promo-small-container {
        min-height: 177px;
        background-size: 100% 100%;
        position: relative;
        cursor: pointer;

        a {
          text-decoration: none;
        }

        a:link {
          color: $white;
        }

        .play-button-and-duration {

          margin: 0 0 0 8px;

          .play-icon {

            width: 28px;
            height: 28px;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin-left: 7px;

            svg.play-circle {
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0;
              transition: opacity .3s;
            }

            svg.play-triangle {
              position: absolute;
              top: 0;
              left: 0;
              transition: transform .3s;
            }

          }

          @include font($sans-franklin, 12, 16);
          color: $white;
          margin: 0 0 8px;

          .duration {
            display: inline-block;
            vertical-align: middle;
            text-transform: uppercase;
            padding: 3px 8px;
            margin-left: 3px;
            border-left: 1px solid $gray-50;

            .video-live-duration {

              svg {
                height: 15px;
                width: 10px;
              }

              span {
                display: inline-block;
                vertical-align: top;
                letter-spacing: 1.5px;
              }

            }

            &.video-live {
              padding-left: 4px;
              height: 15px;
            }

          }

        }

        .metadata {
          position: absolute;
          bottom: 0;
          width: 100%;
          background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
          background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
          background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
          background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        }

        .story-heading {
          @include font($serif-chelt, 18, 22, $medium, italic);
          color: $white;
          text-align: left;
          letter-spacing: .05em;
          margin: 0 9px 7px;
        }

        &:hover {

          .play-button-and-duration .play-icon svg.play-circle {
            opacity: 1;
          }

          .play-button-and-duration .play-icon svg.play-triangle {
            transform: scale(.75);
          }

        }

      } // end video-promo-small-container

      .caption {
        text-align: right;
        margin: 2px 0;

        .credit {
          margin-bottom: 0;
        }
      }


      &.updated-video-promo-small {

        .play-circle {
          display: none;
        }

        .orientation-icon {
          display: none;
        }

        .video-promo-small-container {
          @include font-smoothing;

          .metadata {
            padding: 30px 15px 13px 15px;
            width: auto;
            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
            left: 0;
            right: 0;
          }

          .play-button-and-duration {
            display: flex;
            height: auto;
            margin: 0;
            line-height: normal;

            .play-icon {
              align-self: center;
              width: auto;
              height: 11px;
              margin-left: 0;

              .play-triangle {
                position: static;

                polyline {
                  fill: $white;
                }
              }
            }

            .duration {
              @include font($sans-franklin, 14, 12, $font-weight-bold);
              border-left: none;
              padding: 0;
              margin-left: 4px;
              height: auto;

              span {
                letter-spacing: normal;
              }

              .video-live-duration {
                height: 12px;

                span {
                  color: #ff3300; // not in palette
                  text-transform: capitalize;
                  text-shadow: none;
                }

                svg {
                  height: 12px;
                  width: 12px;
                }
              }

              &.video-live {
                height: auto;
                margin-left: 0;
              }

            }

          }

          .story-heading {
            @include font($serif-chelt-sh, 16, 16, $font-weight-bold);
            letter-spacing: normal;
            padding: 0;
            margin: 7px 0 0 0;
          }

          &:hover {

            .play-button-and-duration .play-icon svg.play-triangle {
              transform: none;
            }

            .story-heading {
              text-decoration: underline;
            }

          }

        }  // end .video-promo-small-container


      } // end updated-video-promo-small

      &.video-promo-small-360 {

        .video-promo-small-container {

          &:hover {

            .play-button-and-duration .play-icon svg.play-triangle {
              transform: none;
            }

          }

          .metadata {

            width: 100%;
            box-sizing: border-box;

            .story-heading {
              max-width: 70%;
            }

            .orientation-icon {
              opacity: .5;
              display: block;
              z-index: 99;
              position: absolute;
              height: 28px;
              width: 28px;
              right: 15px;
              bottom: 15px;
            }

          } // end .metadata

        } // end .video-promo-small-container

        .caption {
          margin: 2px 0 4px 0;
        }

        .more-in-playlist {
          @include font-smoothing;
          width: 100%;
          position: relative;
          padding: 0 0 10px 0;
          border-bottom: 2px solid $gray-60;

          &:hover {
            text-decoration: none;

            .more-in-playlist-title {
              text-decoration: underline;
            }

          }

          p {
            margin-bottom: 0;
          }

          .more-in-playlist-kicker {
            @include font($sans-franklin, 13, 16, $medium);
            color: $gray-40;
            margin-bottom: 2px;
          }

          .more-in-playlist-title {
            @include font($sans-franklin, 13, 13, $medium);
            color: $black;
          }

        }
      } // end &.video-promo-small-360

    } // end video-promo-small


    .story-heading {
      @include font($serif, 22, 26, $light);
      text-align: center;
      margin: 0 10px 6px;
    }

    .kicker {
      @include font($serif, 10, 12, $bold);
      text-align: center;
      margin: 0 10px 8px;
    }

    .summary {
      text-align: center;
      margin: 0 10px;
      color: $gray-30;
    }

    .byline {
      @include font($serif-base, 11, 14);
      text-align: center;
      margin: 1px 10px 0;
      color: $gray-40;
    }

    .refer {
      text-align: center;
      margin: 10px 10px 0;

      li {

        &:before {
          display: none;
        }

      } // end li

    } // end refer

    .theme-comments {
      text-align: center;
      margin: 10px 10px 0;

      + .refer {
        margin-top: 4px;
      }

    }

    .timestamp {
      display: none;
    }

    &.promo {

      .media {

        &.medium-thumb {
          width: 123px;
          margin-bottom: 8px;
          margin-left: 8px;

          .caption-text,
          .credit {
            display: none;
          }

        }

      } // end media

      .story-heading {
        @include font($serif, 18, 24, $light);
        text-align: left;
        margin: 0;
      }

      .summary {
        @include font($serif, 14, 18);
        text-align: left;
        margin: 0 0 10px;
      }

      .c-column-middle-span-region & {
        border-bottom: 1px solid $gray-60;
      }

      .c-column-middle-span-region .collection:last-child & {
        border-bottom: none;
      }

    } // end promo

  } // end theme-feature

  &.theme-summary {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    .story-heading {
      @include font($serif-chelt-sh, 14, 16, $bold);
      margin-bottom: 2px;

      .opinion-module & {
        @include font($serif-chelt-sh, 15, 17, $bold);
      }

    } // end story-heading

    .thumb,
    .medium-thumb {
      @include runaround(right, 3px, 0, 6px, 6px);
    }

    .summary {
      @include font($serif-base, 13, 18);
      margin-bottom: 0;
    }

    .audio-brief {

      .image {
        @include runaround(right, 3px, 0, 6px, 6px);
      }

      .media.audio {
        margin: 10px 0 0 -10px;
      }

      .subscribe-menu {
        margin: 0;
        padding: 15px 0 0;
      }

      .subscribe-item:first-child {
        padding: 0;
      }

      .subscribe-item:last-child {
        padding-left: 9px;
      }

      .subscribe-item {
        @include font($sans-franklin, 13, 16, $font-weight-normal);
        position: static;
        display: inline;

        a:link {
          color: $blue-20;
        }
      }

    }

    .photo-spot-region & {

      &.lede {

        .story-heading {
          @include font($serif-chelt, 20, 24, $medium);

          // typerendering mix js - for windows
          // typerendering.com
          .tr-gdi & {
            @include font($serif-base, 18, 22);
          }

        }

        .byline {
          margin-top: 1px;
        }

      } // end lede

      &.story-sub-headline {

        .story-heading {
          @include font($serif-chelt, 26, 28, $bold, italic);
          text-align: center;

          // typerendering mix js - for windows
          // typerendering.com
          .tr-gdi & {
            @include font($serif-base, 16, 21, $bold, normal);
          }

          &.story-sub-heading {
            @include font($serif-chelt-sh, 14, 17, $bold, normal);
            text-align: left;
          }

        } // end story-heading

        .kicker {
          text-align: center;
          margin-bottom: 5px;

          span {
            display: inline-block;
            border-bottom: 1px solid $gray-50;
          }

        } // end kicker

      } // story-sub-headline

    } // end photo-spot-region

    .second-column-region &,
    .third-column-region & {

      .story-heading {
        margin-bottom: 4px;
      }

    } // end third-column-region

    .first-column-region &,
    .a-lede-package-region & {

      .story-heading {
        @include font($serif-chelt, 20, 22, $bold, italic);
        letter-spacing: .01em;
        word-spacing: -0.1em;

        // typerendering mix js - for windows
        // typerendering.com
        .tr-gdi & {
          @include font($serif-base, 16, 21, $bold, normal);
          letter-spacing: 0;
          word-spacing: 0;
        }

      } // end story-heading

      .story-sub-heading {
        @include font($serif-chelt, 20, 22, $bold, normal);
      }

      &.lede,
      &.lede-medium-summary {

        .story-heading {
          @include font($serif-chelt, 26, 28, $bold, italic);
          letter-spacing: .01em;
          word-spacing: -0.1em;

          // typerendering mix js - for windows
          // typerendering.com
          .tr-gdi & {
            @include font($serif-base, 20, 25, $bold);
            letter-spacing: 0;
            word-spacing: 0;
          }

        }

      } // end lede

    } // end a-lede-package-region

    .b-lede-package-region & {

      &.lede {

        .story-heading {
          @include font($serif-chelt, 20, 24, $medium);
          letter-spacing: .01em;
          word-spacing: -0.1em;

          // typerendering mix js - for windows
          // typerendering.com
          .tr-gdi & {
            @include font($serif-base, 18, 23, $bold);
            letter-spacing: 0;
            word-spacing: 0;
          }

        }

      } // end lede

    } // end b-lede-package-region

    .span-ab-top-region & {

      .kicker {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 5px;
        border-bottom: 1px solid $gray-50;
      }

      .story-heading {
        @include font($serif-chelt, 32, 40, $bold, italic);
        margin-top: 3px;
        margin-bottom: 0;
        letter-spacing: .01em;
        word-spacing: -0.1em;
        color: $black;

        // typerendering mix js - for windows
        // typerendering.com
        .tr-gdi & {
          @include font($serif-base, 26, 30, $bold, normal);
          letter-spacing: 0;
          word-spacing: 0;
          margin-bottom: 10px;
        }

      } // end story-heading

      &.banner {
        margin-bottom: 4px;
      }

    } // end span-ab-top-region

    .span-ab-bottom-region & {

      .story-heading {
        @include font($serif, 16, 20, $bold);
        padding-top: 10px;
      }

      .summary {
        @include font($serif-base, 13, 16);
        padding-top: 3px;
        color: $gray-30;
      }

      &.no-thumb {
        vertical-align: top;

        .story-heading {
          @include font($serif, 24, 27);
          padding-top: 0;
          margin-top: -3px;
        }

        .summary {
          @include font($serif, 16, 20, $extra-light);
          color: $gray-30;
        }

      }

    } // end span-ab-bottom-region

  } // end theme-summary


  &.theme-video {
    margin-bottom: 12px;

    .summary {
      margin: 4px 15px;
    }

    &.theme-video-updated {

      .summary {
        @include font($serif-base, 13, 18);
        margin: 4px 0;
      }

      &.theme-video-embed-360 {

        .summary {
          margin: 0 0 1em 0;
        }

      }

    }

  } // end theme-video

  &.theme-video-embed {

    margin-bottom: 12px;

    .story-heading {
      @include font($serif-chelt, 20, 24, $font-weight-bold, italic);
      margin-top: 5px;
    } // end story-heading

    .byline {
      margin-top: 4px;
    }

    .summary {
      margin-top: 4px;
    }

  } // end theme-video-embed

  &.theme-video-embed-360 {

    margin-bottom: 0;

    .story-heading {
      @include font($serif-chelt, 24, 24, $font-weight-bold);
      margin-top: 10px;
    }

    .summary {
      @include font($serif-base, 13, 18);
      margin: 0;
    }

    .more-in-playlist {
      @include font-smoothing;

      &:hover {
        text-decoration: none;

        span {
          text-decoration: underline;
        }

      }

      p {
        @include font($sans-franklin, 13, 13, $medium);
        text-align: center;
        margin: 1em 0 1.5em 0;
        color: $gray-40;

        span {
          color: $black;
        }
      }

    }

    .video {

      &:before {
        padding-top: 100%;
      }

      .video-bind {
        padding-bottom: 100%;
      }

    }

  } // end theme-video-embed-360

  &.video-promo-small-360,
  &.theme-video-embed-360 {

    .video-embed-360-branding {
      @include font($serif-chelt-sh, 15, 15, $bold);
      width: 100%;
      margin: 10px auto;
      padding: none;
      text-align: center;
      text-transform: uppercase;
    }

  }

} // end story
