// typography

h1 {  // these headings need to be verified taken from nyt4
  @include font($serif, 24, 26, $bold);
}

h2 {
  @include font($serif, 20, 22, $bold);
}

h3 {
  @include font($serif, 15, 17, $bold);
}

h4 {
  @include font($serif, 14, 16, $bold);
}

h5,
h6 {
  @include font($serif, 12, 15, $bold);
}

h6 {
  font-weight: $normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
ul,
ol,
dl,
dd {
  margin: 0 0 1em 0;
}

p,
li,
dt,
dd {
  @include font($serif-base, 16, 23);
}

ul {
  list-style: none;
  padding-left: 0;
}

.multi-line-list li {
  margin-bottom: 1em;
}

a {

  &:link {
    text-decoration: none;
    color: $link-color;
  }

  &:visited {
    color: $link-visited-color;
  }

  &:hover {
    text-decoration: underline;
    outline: 0;
  }

  &:focus { // can focus go last? bootstrap has it first
    outline: thin dotted $gray-20;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

} // end a

// images

.caption,
figcaption,
.credit {
  @include font($serif-chelt-sh, 12, 16);
}

.caption,
figcaption {
  color: $gray-30;

  a {
    color: $gray-30;
    text-decoration: underline;
  }

}

.credit {
  display: inline-block;
  color: $gray-40;

  .page-theme-black & {
    color: $gray-30;
  }

  a {
    color: $gray-40;
    text-decoration: underline;

    .page-theme-black & {
      color: $gray-30;
    }

  }

}

.pipe {
  color: $gray-50;

  .page-theme-black & {
    color: $gray-25;
  }

}

.kicker {
  @include font($serif, 12, 16, $light);
  text-transform: uppercase;
  letter-spacing: 0.075em;
  color: $black;

  .page-theme-black & {
    color: $gray-40;
  }

  .pipe {
    margin: 0 10px 0 8px;
    vertical-align: text-bottom;
  }

  .section-magazine & {
    @include font($sans-mag, 11, 11, $medium);
    letter-spacing: 0.045em;

    .pipe {
      vertical-align: baseline;
    }

  }

} // end kicker

.kicker-label {
  @include font($sans, 13, 16, $bold);
  letter-spacing: 0.05em;

  .section-fashion &,
  .section-dining &,
  .section-movies &,
  .tone-feature & {
    @include font($serif-karnak, 13, 16, $normal);
  }

  .section-magazine & {
    @include font($sans-mag, 13, 16, $bold);
    letter-spacing: 0;
    text-transform: capitalize;
  }

  .section-t-magazine & {
    @include font($font-graphik, 14, 16, $font-weight-bold);
  }

  .section-opinion &,
  .section-campaign-stops & {
    @include font($serif, 20, 24, $light);
    text-transform: none;
    letter-spacing: normal;
  }

  .section-sunday &, // scoop returns sunday-review as sunday
  .section-sunday-review & {
    @include font($serif-karnak, 19, 24, $normal);
    text-transform: none;
    letter-spacing: 0;
  }

  a {
    color: $black;

    .page-theme-black & {
      color: $gray-50;
    }

  }

} // end kicker-label

.subsection-kicker-label {
  @include font($font-sans, 13, 16, $font-weight-bold);
  letter-spacing: 0.05em;

  a {
    color: $black;

    .page-theme-black & {
      color: $gray-50;
    }

  }

  .sub-section-well & {
    @include font($font-franklin, 12, 16, $font-weight-light);
    letter-spacing: 0.075em;
  }

} // end subsection-kicker-label

.ellipsis {
  @include border-radius(3px);
  display: inline-block;
  vertical-align: middle;
  height: 13px;
  width: 23px;
  margin: -3px 7px 0 7px;
  font-family: $serif;
  font-size: 1.5em;
  line-height: 0.35;
  text-align: center;
  border: 1px solid #eaebe5; // not in palette
  background-color: $newsprint-25;
  color: $gray-30;

  &:hover {
    border: 1px solid #bfbebd; // not in palette
    background-color: $gray-50;
    color: $black;
  }

} // end ellipsis
