// variables

// file created by build system
@import 'variables-build';
// legacy font variables
@import 'variables-font-legacy';

// colors

// monochrome - dark to light

$black: #000;
$gray-10: #121212;
$gray-20: #333;
$gray-25: #444;
$gray-30: #666;
$gray-35: #888;
$gray-40: #999;
$gray-45: #b3b3b3;
$gray-50: #ccc;
$gray-60: #e2e2e2;
$gray-70: #ebebeb;
$gray-80: #f3f3f3;
$gray-90: #f7f7f7;
$white: #fff;

// blue - dark to light

$blue-10: #004276;
$blue-20: #326891;
$blue-30: #6288a5;
$blue-40: #879cb4;
$blue-50: #f0f8fc;

// red - dark to light

$red-10: #a81817;
$red-20: #d31e25;

// yellow - dark to light

$yellow-10: #c5a257;
$yellow-20: #f8f8d4;
$yellow-30: #fbfbea;

// misc - dark to light

$newsprint-10: #bab8b3;
$newsprint-20: #e9ebe4;
$newsprint-25: #f4f5f2;
$newsprint-30: #f7f7f5;

$text-color: $gray-20;

$link-color: $blue-20;
$link-hover-color: $blue-30;
$link-visited-color: $blue-20;

$insider-yellow: #fed464;

// z-index

$z-index-ad:                                1000000000;
$z-index-widget:                            1000000010;
$z-index-comments-panel:                    1000000020;
$z-index-ribbon:                            1000000030;
$z-index-gateway-overlay:                   1000000040;
$z-index-gateway-modal:                     1000000050;
$z-index-search-overlay:                    1000000060;
$z-index-navigation-edge:                   1000000070;
$z-index-mobile-navigation:                 1000000080;
$z-index-masthead:                          1000000090;
$z-index-mini-navigation:                   1000000100;
$z-index-navigation:                        1000000110;
$z-index-comments-panel-overlay:            1000000120;
$z-index-comments-panel-small-viewport:     1000000130;
$z-index-overlay:                           1000000140;
$z-index-modal:                             1000000150;
$z-index-full-page-ad:                      1000000160;

// grid system

$grid-unit: 45px;
$grid-unit-mini: 15px;
$grid-unit-micro: 7px;

// fluid grid system

$columns-50: 2;

// typography

$base-font-size: 16; // px

// font weights

$font-weight-bold: 700;
$font-weight-medium-bold: 600;
$font-weight-medium: 500;
$font-weight-normal: 400;
$font-weight-light: 300;
$font-weight-extra-light: 200;

// fonts
// There should be a font variable for all the entires here:
// https://github.com/nytm/web-fonts/tree/master/fonts
// note: cheltenham-small replaces chelt-sh

$font-cheltenham:       'cheltenham';
$font-cheltenham-cond:  'cheltenham-cond';
$font-cheltenham-scaps: 'cheltenham-scaps';
$font-cheltenham-small: 'cheltenham-small';
$font-cheltenham-wide:  'cheltenham-wide';
$font-cheltenham-xcond: 'cheltenham-xcond';
$font-franklin:         'franklin';
$font-franklin-cword:   'franklin-cword';
$font-franklin-small:   'franklin-small';
$font-graphik:          'graphik';
$font-graphik-cond:     'graphik-cond';
$font-graphik-xcond:    'graphik-xcond';
$font-imperial:         'imperial';
$font-karnak:           'karnak';
$font-karnak-small:     'karnak-small';
$font-magsans:          'magsans';
$font-magserif:         'magserif';
$font-magslab:          'magslab';
$font-schnyder-s:       'schnyder-s';
$font-schnyder-scond:   'schnyder-scond';
$font-stymie:           'stymie';
$font-stymie-small:     'stymie-small';

// generic font vars

$font-serif: $font-cheltenham;
$font-sans: $font-franklin;

// base font stacks

$font-serif-base: georgia, "times new roman", times, serif;
$font-sans-base: arial, helvetica, sans-serif;

// map of fonts to their fallback stacks

$font-fallback-map: (
        $font-cheltenham:       $font-serif-base,
        $font-cheltenham-cond:  $font-serif-base,
        $font-cheltenham-scaps: $font-serif-base,
        $font-cheltenham-small: $font-serif-base,
        $font-cheltenham-wide:  $font-serif-base,
        $font-cheltenham-xcond: $font-serif-base,
        $font-franklin:         $font-sans-base,
        $font-franklin-cword:   $font-sans-base,
        $font-franklin-small:   $font-sans-base,
        $font-graphik:          $font-sans-base,
        $font-graphik-cond:     $font-sans-base,
        $font-graphik-xcond:    $font-sans-base,
        $font-imperial:         $font-serif-base,
        $font-karnak:           $font-serif-base,
        $font-karnak-small:     $font-serif-base,
        $font-magsans:          $font-sans-base,
        $font-magserif:         $font-serif-base,
        $font-magslab:          $font-serif-base,
        $font-schnyder-s:       $font-serif-base,
        $font-schnyder-scond:   $font-serif-base,
        $font-stymie:           $font-serif-base,
        $font-stymie-small:     $font-serif-base
);

// map of breakpoints for media query use

$breakpoints: (
        'small':  600,
        'medium': 1005,
        'large': 1410
);
