// mixins-buttons

// themes - reference theme by your button class

@mixin button-theme-action {
  @include button-style-blue-30;
  font-weight: $bold;
}

@mixin button-theme-dimensional {
  @include button-style-dimensional;
  font-weight: $bold;
}

@mixin button-theme-dimensional-newsprint-30 {
  @include button-theme-dimensional;
  @include button-style-newsprint-30;
}

@mixin button-theme-secondary {
  @include button-style-newsprint-30;
  font-weight: $bold;
}

@mixin button-theme-secondary-gray-70 {
  @include button-style-gray-70;
  font-weight: $bold;
}

@mixin button-theme-transparent {
  @include button-style-transparent;
  font-weight: $bold;
}

@mixin button-theme-close ($size: 26px, $icon-size: 14px, $icon-thickness: 2px) {
  @include button-style-close;
  @include button-style-close-gray-50;
  width: $size;
  height: $size;

  .icon {
    @include button-style-close-icon($size, $icon-size, $icon-thickness);
  }

}

@mixin button-theme-close-gray-30 ($size: 26px, $icon-size: 14px, $icon-thickness: 2px) {
  @include button-style-close;
  @include button-style-close-gray-30;
  width: $size;
  height: $size;

  .icon {
    @include button-style-close-icon($size, $icon-size, $icon-thickness);
    @include button-style-close-icon-gray-10;
  }

}

@mixin button-theme-close-shadowed ($size: 22px, $icon-size: 10px, $icon-thickness: 2px) {
  @include button-style-close;
  @include button-style-close-shadowed;
  width: $size;
  height: $size;

  .icon {
    @include button-style-close-icon($size, $icon-size, $icon-thickness);
  }

}

@mixin button-theme-close-gray-transparent ($size: 26px, $icon-size: 10px, $icon-thickness: 2px) {
  @include button-style-close;
  @include button-style-close-gray-transparent;
  width: $size;
  height: $size;

  .icon {
    @include button-style-close-icon($size, $icon-size, $icon-thickness);
    @include button-style-close-icon-gray-transparent;
  }

}

// styles

@mixin button-style-large {
  @include font($sans, 15, 19, $medium);
  padding: 10px 20px;
  text-transform: none;
}

@mixin button-style-blue-30 {
  background-color: $blue-30;
  border-color: #4d7b9f; // not in palette
  color: $white;

  &:hover,
  &:active,
  &.active {
    background-color: $blue-20;
    border-color: #265e8b; // not in palette
  }

  &.disabled {

    &:hover {
      background-color: $blue-30;
    }

  }

} // end button-style-blue-30

@mixin button-style-red-20 {
  background-color: $red-20;
  border: 1px solid $red-10;
  color: $white;
}

@mixin button-style-newsprint-30 {
  background-color: $newsprint-30;
  border-color: $gray-60;

  &:hover,
  &:active,
  &.active {
    background-color: $newsprint-20;
    border-color: $gray-50;
  }

}

@mixin button-style-dimensional {
  @include box-shadow(0 3px 2px 0 rgba(0, 0, 0, 0.06), inset -1px -1px 1px 0 rgba(0, 0, 0, 0.02));
  border-bottom-color: #cecece; // not in palette
}

@mixin button-style-gray-70 {
  background-color: $gray-70;
  color: $gray-20;
  border-color: $gray-50;

  &:hover,
  &:active,
  &.active {
    background-color: $gray-60;
  }

}

@mixin button-style-gray-90 {
  text-transform: uppercase;
  background-color: $gray-90;
  border: 1px solid $gray-60;
  color: $gray-20;

  &:hover {
    background-color: $gray-70;
    border: 1px solid $gray-50;
  }

}

@mixin button-style-transparent {
  color: $gray-20;
  background-color: transparent;
  border: none;

  &:hover,
  &:active,
  &.active {
    background-color: $newsprint-30;
  }

}

@mixin button-style-close {
  @include containing-block;
  @include transition(background-color .2s ease-in);
  @include border-radius(50%);
  @include background-clip(padding-box);
  font-family: $sans;
  padding: 0;
  border: none;
}

@mixin button-style-close-icon ($size, $icon-size, $icon-thickness) {

  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    background-color: $white;
    top: (ceil(($size - $icon-size) / 2) - ceil($icon-thickness / 2)) + (ceil($icon-size / 2));
    left: (ceil(($size - $icon-size) / 2));
    width: $icon-size;
    height: $icon-thickness;

  }

  &:before {
    @include rotate(45deg);

    .lt-ie9 & {
      content: 'x';
      position: static;
      display: inline;
      background-color: transparent;
      color: $white;
      font-style: normal;
      font-family: $sans-base;
      font-weight: $bold;
    }

  }

  &:after {
    @include rotate(135deg);

    .lt-ie9 & {
      display: none;
    }

  }

  .lt-ie9 & {
    vertical-align: 50%; // aligns x closer than the default middle value for .icon
  }

} // end button-style-close-icon

@mixin button-style-close-icon-gray-10 {

  &:before,
  &:after {
    background-color: $gray-10;
  }

  &:before {

    .lt-ie9 & {
      color: $gray-10;
    }

  }

}

@mixin button-style-close-icon-gray-transparent {

  &:before,
  &:after {
    background-color: $gray-40;
  }

  &:before {

    .lt-ie9 & {
      color: $gray-40;
    }

  }

}

@mixin button-style-close-shadowed {
  @include box-shadow(0 0 0 1px rgba(255, 255, 255, 1), 0 0 0 2px rgba(216, 216, 216, 1), -1px 1px 2px 3px rgba(0, 0, 0, 0.15));
  @include transition(background-color .2s ease-in);
  background-color: $gray-40;

  .page-theme-black & {
    @include box-shadow(0 0 0 1px $gray-30, 0 0 0 2px $gray-30, -1px 1px 2px 3px rgba(0, 0, 0, 0.15));
    background-color: $gray-30;
  }

  &:hover {
    background-color: $gray-20;

    .page-theme-black & {
      background-color: $gray-40;
    }

  }

}

@mixin button-style-close-gray-30 {
  background-color: $gray-30;

  &:hover {
    background-color: $gray-40;
  }

}

@mixin button-style-close-gray-50 {
  background-color: $gray-50;

  &:hover {
    background-color: $gray-30;
  }

}

@mixin button-style-close-gray-transparent {
  background-color: transparent;

  &:hover {
    background-color: transparent;

    .icon {

      &:before,
      &:after {
        background-color: $gray-30;
      }

      &:before {

        .lt-ie9 & {
          color: $gray-30;
        }

      }

    }

  } // end hover

} // end button-style-close-gray-transparent
