// mixins-decorators

// usage: the .icon class is used on i tags in the html and references this mixin
// in shared/Sprite/helpers

@mixin icon {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
  font-style: normal;
}

// rules

@mixin single-rule ($border-width: 1px, $border-style: solid, $border-color: $gray-50, $location: top, $padding: $grid-unit-micro) {
  $border-properties: $border-width $border-style $border-color;

  @if $location == top {
    border-top: $border-properties;
    padding-top: $padding;
  } @else if $location == bottom {
    border-bottom: $border-properties;
    padding-bottom: $padding;
  } @else if $location == right {
    border-right: $border-properties;
    padding-right: $padding;
  } @else if $location == left {
    border-left: $border-properties;
    padding-left: $padding;
  }

} // end single-rule

@mixin no-single-rule ($location: top) {

  @if $location == top {
    border-top: none;
    padding-top: 0;
  } @else if $location == bottom {
    border-bottom: none;
    padding-bottom: 0;
  } @else if $location == right {
    border-right: none;
    padding-right: 0;
  } @else if $location == left {
    border-left: none;
    padding-left: 0;
  }

} // end no-single-rule

// scotch rule
// use case :before or :after or stand-alone element as it uses height

@mixin scotch-rule ($border-width: 2px, $border-style: solid, $border-color: $gray-60, $height: 1px) {
  @include box-sizing(content-box); // required for FF
  content: '';
  display: block;
  border-top: $border-width $border-style $border-color;
  border-bottom: ($border-width - 1) $border-style $border-color;
  height: $height;
  margin: 15px 0;
  background-color: $white;
}

@mixin no-scotch-rule {
  content: '';
  border: none;
  height: auto;
  margin: auto;
  background-color: transparent;
}

// border radius

@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// single corner border radius

@mixin border-top-left-radius ($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  border-top-left-radius: $radius;
}

@mixin border-top-right-radius ($radius) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  border-top-right-radius: $radius;
}

@mixin border-bottom-right-radius ($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-bottom-left-radius ($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-bottom-left-radius: $radius;
}

// single side border radius

@mixin border-top-radius ($radius) {
  @include border-top-right-radius($radius);
  @include border-top-left-radius($radius);
}

@mixin border-right-radius ($radius) {
  @include border-top-right-radius($radius);
  @include border-bottom-right-radius($radius);
}

@mixin border-bottom-radius ($radius) {
  @include border-bottom-right-radius($radius);
  @include border-bottom-left-radius($radius);
}

@mixin border-left-radius ($radius) {
  @include border-top-left-radius($radius);
  @include border-bottom-left-radius($radius);
}

// box shadows

@mixin box-shadow ($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

// nyt standard shadows

@mixin box-shadow-10 {
  @include box-shadow(0 4px 4px rgba(0, 0, 0, 0.06));
}

@mixin box-shadow-20 {
  @include box-shadow(-1px 4px 6px rgba(0, 0, 0, 0.09));
}

@mixin box-shadow-30 {
  @include box-shadow(inset 2px 3px 3px rgba(0, 0, 0, 0.07));
}

// opacity: opacity(.6)

@mixin opacity ($opacity) {
  $opacity-ie: ($opacity * 100);
  opacity: $opacity;
  filter: alpha(opacity=$opacity-ie);
}

// appearance changes default rendering for html

@mixin appearance ($appearance) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  -ms-appearance: $appearance;
  appearance: $appearance;

  &::-ms-expand {
    visibility: hidden;
  }

}

// tab focus

@mixin tab-focus {
  // default
  outline: thin dotted $gray-20;
  // webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// user select
// for selecting text on the page

@mixin user-select ($select) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}

// color and spacing for form field placeholder text

@mixin placeholder ($color: $gray-40) {

  &::-webkit-input-placeholder {
    color: $color;
    letter-spacing: 0;
  }

  &:-moz-placeholder { /* ff 4 to 18 */
    color: $color;
    letter-spacing: 0;
  }

  &::-moz-placeholder { /* ff 19+ */
    color: $color;
    letter-spacing: 0;
  }

  &:-ms-input-placeholder { /* ie 10+ */
    color: $color;
    letter-spacing: 0;
  }

} // end placeholder

// background clipping

@mixin background-clip ($clip) {
  -webkit-background-clip: $clip;
  -moz-background-clip: $clip;
  background-clip: $clip;
}

// background sizing

@mixin background-size ($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  background-size: $size;
}

// gradients

@mixin gradient ($color: #f5f5f5, $start: #eee, $stop: $white) {
  background: $color;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, $start), color-stop(1, $stop));
  background: -ms-linear-gradient(bottom, $start, $stop);
  background: -moz-linear-gradient(center bottom, $start 0%, $stop 100%);

  .lt-ie10 & {
    $start-ie: ie-hex-str(opacify($start, 1));
    $stop-ie: ie-hex-str(opacify($stop, 1));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$start-ie}, endColorstr=#{$stop-ie}, GradientType=0);
  }

}

@mixin horizontal-gradient ($start-color: $gray-30, $end-color: $gray-20) {
  background: $end-color;
  background: -moz-linear-gradient(left, $start-color, $end-color); // ff 3.6+
  background: -webkit-gradient(linear, 0 0, 100% 0, from($start-color), to($end-color)); // safari 4+, chrome 2+
  background: -webkit-linear-gradient(left, $start-color, $end-color); // safari 5.1+, chrome 10+
  background: linear-gradient(to right, $start-color, $end-color); // standard, ie10

  .lt-ie10 & {
    $start-color-ie: ie-hex-str($start-color);
    $end-color-ie: ie-hex-str($end-color);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$start-color-ie}, endColorstr=#{$end-color-ie}, GradientType=1);
  }

}

@mixin vertical-gradient ($start-color: $gray-30, $end-color: $gray-20) {
  background-color: mix($start-color, $end-color, 60%);
  background-image: -moz-linear-gradient(top, $start-color, $end-color); // ff 3.6+
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($start-color), to($end-color)); // safari 4+, chrome 2+
  background-image: -webkit-linear-gradient(top, $start-color, $end-color); // safari 5.1+, chrome 10+
  background-image: linear-gradient(to bottom, $start-color, $end-color); // standard, ie10
  background-repeat: repeat-x;

  .lt-ie10 & {
    $start-color-ie: ie-hex-str($start-color);
    $end-color-ie: ie-hex-str($end-color);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$start-color-ie}', endColorstr='#{$end-color-ie}', GradientType=0);
  }

}

@mixin radial-gradient ($position, $size, $start-color, $stop-color) {
  background: -webkit-radial-gradient($position, $size, $start-color, $stop-color);
  background: -ms-radial-gradient($position, $size, $start-color, $stop-color);
  background: -moz-radial-gradient($position, $size, $start-color, $stop-color);
  background: radial-gradient(ellipse $size at $position, $start-color, $stop-color);
}

// glyphs

@mixin caret-base ($size, $width, $height) {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: ($size * $width) inset transparent;
  border-right: ($size * $width) inset transparent;
  border-top: ($size * $height) inset transparent;
  border-bottom: ($size * $height) inset transparent;
}

@mixin caret ($dir, $color, $size: 4px, $width: 1, $height: 1) {
  @include caret-base($size, $width, $height);

  @if $dir == left {
    border-right: ($size * $width) solid $color;
  } @else if $dir == right {
    border-left: ($size * $width) solid $color;
  } @else if $dir == up {
    border-bottom: ($size * $height) solid $color;
  } @else {
    border-top: ($size * $height) solid $color;
  }

} // end caret

// arrows

@mixin arrows ($arrow-size: 18px, $arrow-color: $black, $arrow-bg: $white) {
  $arrow-half: ($arrow-size / 2);
  overflow: visible;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;

  .arrow-conceal {
    position: absolute;
    top: -$arrow-half;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &.arrow-right {
    border-width: $arrow-half 0 $arrow-half $arrow-size;
    border-color: transparent transparent transparent $arrow-color;
    border-style: inset inset inset solid;

    .arrow-conceal {
      border-width: $arrow-half 0 $arrow-half ($arrow-size / 4);
      border-color: transparent transparent transparent $arrow-bg;
      border-style: inset inset inset solid;
      left: -$arrow-size;
    }

  }

  &.arrow-left {
    border-width: $arrow-half $arrow-size $arrow-half 0;
    border-color: transparent $arrow-color transparent transparent;
    border-style: inset solid inset inset;

    .arrow-conceal {
      border-width: $arrow-half ($arrow-size / 4) $arrow-half 0;
      border-color: transparent $arrow-bg transparent transparent;
      border-style: inset solid inset inset;
      right: -$arrow-size;
    }

  }

  &.arrow-down {
    border-width: $arrow-half $arrow-size 0 $arrow-size;
    border-color: transparent transparent $arrow-color transparent;
    border-style: solid inset inset inset;

    .arrow-conceal {
      border-width: ($arrow-size / 4) $arrow-half 0 $arrow-half;
      border-color: $arrow-bg transparent transparent transparent;
      border-style: solid inset inset inset;
      top: -$arrow-size;
    }

  }

} // end arrows

// speech bubbles

@mixin speech-bubble ($width: auto, $height: auto, $color: $black, $radius: null, $angle: null) {
  $_radius: null;
  $_angle: null;

  @if $angle != null {
    $_angle: $angle;
  } @else {
    $_angle: right;
  }

  @include containing-block;
  @include transition(background-color .3s);
  width: $width;
  height: $height;
  background: $color;

  .page-theme-black & {
    background: $blue-20;
  }

  &:after {
    @include transition(border-color .3s);
    content: '';
    position: absolute;
    left: 45%;
    border-style: solid;
    border-color: $color transparent;
    display: block;
    width: 0;

    .page-theme-black & {
      border-color: $blue-20 transparent;
    }

  }

  @if $_angle == acute {
    @if $radius != null {
      $_radius: $radius;
    } @else {
      $_radius: 5px;
    }

    @include border-radius($_radius);

    padding: 0;

    &:before {
      @include transition(border-color .3s);
      content: '';
      position: absolute;
      bottom: -20px;
      left: 40px;
      border-style: solid inset inset inset;
      border-color: $blue-40 transparent transparent transparent;
      border-width: 20px 0 0 26px;
      display: block;
      width: 0;

      .page-theme-black & {
        border-color: $blue-20 transparent transparent transparent;
      }

    }

    &:after {
      content: '';
      position: absolute;
      left: 63px;
      border-style: inset solid inset inset;
      border-color: transparent $white transparent transparent;
      display: block;
      width: 0;
      border-width: 0 3px 20px 0;
      bottom: -20px;

      .page-theme-black & {
        border-color: transparent;
      }

    }

  } @else if $height == auto or $height >= 17 {
    @if $radius != null {
      $_radius: $radius;
    } @else {
      $_radius: 2px;
    }

    @include border-radius($_radius);

    &:after {
      bottom: -6px;
      border-width: 6px 0 0 5px;
    }

  } @else {
    @if $radius != null {
      $_radius: $radius;
    } @else {
      $_radius: 1px;
    }


    @include border-radius($_radius);

    &:after {
      bottom: -4px;
      border-width: 4px 0 0 4px;
    }

  }

} // end speech-bubble

// adapted from: http://nicolasgallagher.com/pure-css-speech-bubbles/demo/

@mixin speech-bubble-bordered (
  $width: auto,
  $height: auto,
  $color: $black,
  $radius: null,
  $padding: 5px,
  $left-before: $grid-unit-mini,
  $border-width-before: $grid-unit-micro,
  $border-width-after: 6px) {
  @include containing-block;
  min-width: ($width - ($padding * 2));
  min-height: ($height - ($padding * 2));
  padding: $padding;
  border: 1px solid $color;
  color: $gray-20;
  border-radius: $radius;

  &:before {
    content: '';
    position: absolute;
    bottom: (0 - $border-width-before); // value = - border-top-width - border-bottom-width
    left: $left-before; // controls horizontal position
    border-width: ($border-width-before - 1px) 0 0 ($border-width-before + 1px);
    border-style: solid;
    border-color: $color transparent;
    display: block;
    width: 0;
  }

  // creates the larger triangle
  &:after {
    content: '';
    position: absolute;
    bottom: (0 - $border-width-after); // value = - border-top-width - border-bottom-width
    left: ($left-before + $border-width-before - $border-width-after); // value = (:before left) + (:before border-left) - (:after border-left)
    border-width: $border-width-after 0 0 $border-width-after;
    border-style: solid;
    border-color: $white transparent;
    display: block;
    width: 0;
  }

} // end speech-bubble-bordered

// dots

@mixin dot ($size: 15px, $color: $black) {
  @include border-radius(($size / 2));
  background-color: $color;
  width: $size;
  height: $size;
}

// overlays

@mixin overlay ($color: transparent, $opacity: 1) {
  @include opacity($opacity);
  background-color: $color;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-index-overlay;
}

@mixin white-overlay {
  @include overlay;
  background-image: linear-gradient(to top, $white, rgba(255, 255, 255, .9));
}
