// mixins-grid

// spans

@mixin span ($standard: 0, $mini: 0, $micro: 0) {
  $grid-units: (($standard * $grid-unit) + ($mini * $grid-unit-mini) + ($micro * $grid-unit-micro));
  width: $grid-units;
}

@mixin span-min-width ($standard: 0, $mini: 0, $micro: 0) {
  $grid-units: (($standard * $grid-unit) + ($mini * $grid-unit-mini) + ($micro * $grid-unit-micro));
  min-width: $grid-units;
}

@mixin span-max-width ($standard: 0, $mini: 0, $micro: 0) {
  $grid-units: (($standard * $grid-unit) + ($mini * $grid-unit-mini) + ($micro * $grid-unit-micro));
  max-width: $grid-units;
}

// offsets

@mixin offset ($standard: 0, $mini: 0, $micro: 0, $direction: left) {
  $grid-units: (($standard * $grid-unit) + ($mini * $grid-unit-mini) + ($micro * $grid-unit-micro));

  @if $direction == top {
    margin-top: $grid-units;
  } @else if $direction == right {
    margin-right: $grid-units;
  } @else if $direction == bottom {
    margin-bottom: $grid-units;
  } @else if $direction == left {
    margin-left: $grid-units;
  }

}

@mixin offset-positioned ($standard: 0, $mini: 0, $micro: 0, $direction: left) {
  $grid-units: (($standard * $grid-unit) + ($mini * $grid-unit-mini) + ($micro * $grid-unit-micro));

  @if $direction == top {
    top: $grid-units;
  } @else if $direction == right {
    right: $grid-units;
  } @else if $direction == bottom {
    bottom: $grid-units;
  } @else if $direction == left {
    left: $grid-units;
  }

}

// insets

@mixin inset ($standard: 0, $mini: 0, $micro: 0, $direction: left) {
  $grid-units: (($standard * $grid-unit) + ($mini * $grid-unit-mini) + ($micro * $grid-unit-micro));

  @if $direction == top {
    padding-top: $grid-units;
  } @else if $direction == right {
    padding-right: $grid-units;
  } @else if $direction == bottom {
    padding-bottom: $grid-units;
  } @else if $direction == left {
    padding-left: $grid-units;
  }

}

// fluid grid

// spans

@mixin span-fluid ($columns, $grid: $columns-50) {
  $span-width: percentage(($columns * $grid) / 100);
  box-sizing: border-box;
  width: $span-width;
  max-width: $span-width;
}

// offsets

@mixin offset-fluid ($columns, $grid: $columns-50, $direction: left) {
  $offset-width: percentage(($columns * $grid) / 100);

  @if $direction == left {
    margin-left: $offset-width;
  } @else if $direction == right {
    margin-right: $offset-width;
  }

}

// insets

@mixin inset-fluid ($columns, $grid: $columns-50, $direction: left) {
  $inset-width: percentage(($columns * $grid) / 100);

  @if $direction == left {
    padding-left: $inset-width;
  } @else if $direction == right {
    padding-right: $inset-width;
  }

}

// rows

@mixin row-fluid {
  @extend %clearfix;
  width: 100%;
  display: block;
}

// line lengths

@mixin medium-line-length {
  width: 500px;
  max-width: 500px;
}

@mixin large-line-length {
  width: 570px;
  max-width: 570px;
}

