// mixins-layout

// shell

@mixin shell-wide-viewport {
  @include span-max-width(35, 2); // 1605 coincides with masthead max width
  @include box-shadow(-1px 0 4px 0 $gray-60);
  margin: 0 auto;
  border-right: 1px solid $gray-60;
  border-left: 1px solid $gray-60;
}

@mixin no-shell-wide-viewport {
  @include box-shadow(none);
  max-width: none;
  border-right: none;
  border-left: none;
}

// clearfix
// http://nicolasgallagher.com/micro-clearfix-hack

@mixin clearfix ($direction: both) {

  &:before,
  &:after {
    display: table;
    content: '';
    line-height: 0;
  }

  &:after {
    clear: $direction;
  }

}

// remove clearfix applied by mixin
@mixin no-clearfix () {

  &:before,
  &:after {
    display: inline;
    content: normal;
    line-height: normal;
  }

  &:after {
    clear: none;
  }

}

// runaround
// usage: when text should run around a floated element

@mixin runaround ($direction, $top, $right, $bottom, $left) {
  float: $direction;
  clear: $direction;
  margin: $top $right $bottom $left;
}

@mixin no-runaround {
  float: none;
  clear: none;
  margin: 0;
}

// menus

// usage: in an li rule block
@mixin horizontal-menu-item {
  @include single-rule(1px, solid, $gray-40, left);
  @include inset(0, 0, 1, right);
  float: left;

  &:first-child {
    @include no-single-rule(left);
  }

}

// positioning context
// usage: use on element to create a positioning
// context for absolutely positioned children

@mixin containing-block {
  position: relative;
}

// centering

@mixin centered-element {
  margin-right: auto;
  margin-left: auto;
}

@mixin centered-text {
  text-align: center;
}

// hiding & showing

// hide only visually, but have it available for screenreaders: h5bp.com/v
@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin no-visually-hidden {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
  overflow: visible;
}

@mixin text-indent {
  text-indent: -9999px;
}

@mixin no-text-indent {
  text-indent: 0;
}

// flexbox styles for parent elements:

@mixin flex-container($direction: row) {
  display: flex;

  @if $direction == row {
    flex-direction: row;
  } @else if $direction == column {
    flex-direction: column;
  }

}

// NOTE: all of these flex mixins below are ancient and should not be used

// usage: box should not be used where alignment is critical only supported in ie10+
// http://caniuse.com/#search=flex
// boxes - still deciding whether to have one larger box mixin or keep them sep
// also whether to call box in each of the other box rules (not box-sizing)


@mixin box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// $align values: start|end|center|baseline|stretch

@mixin box-align ($align: center) {
  -webkit-box-align: $align;
  -moz-box-align: $align;
  -ms-box-align: $align;
  box-align: $align;
}

// $orient values: horizontal|vertical|inherit

@mixin box-orient ($orient) {
  -webkit-box-orient: $orient;
  -moz-box-orient: $orient;
  -ms-box-orient: $orient;
  box-orient: $orient;
}

// $pack values: start|end|center|justify

@mixin box-pack ($pack) {
  -webkit-box-pack: $pack;
  -moz-box-pack: $pack;
  -ms-box-pack: $pack;
  box-pack: $pack;
}

// $flex values: 0|integer

@mixin box-flex ($flex) {
  -webkit-box-flex: $flex;
  -moz-box-flex: $flex;
  -webkit-flex: $flex;
  -ms-flex: $flex;
  box-flex: $flex;
  flex: $flex;
}

// $boxmodel values: content-box|padding-box|border-box|inherit

@mixin box-sizing ($boxmodel) {
  -webkit-box-sizing: $boxmodel;
  -moz-box-sizing: $boxmodel;
  box-sizing: $boxmodel;
}

@mixin box-sizing-border-box-root {
  @include box-sizing(border-box);

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

%box-sizing-border-box-root {
  @include box-sizing-border-box-root;
}

// usage: truncate text with css
// text overflow requires inline-block or block for proper styling

@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// resize anything
// $direction values: none|both|horizontal|vertical|initial|inherit

@mixin resizable ($direction) {
  resize: $direction;
  overflow: auto; // safari fix
}

// css3 content columns

// column
// properties: column-count|column-width
// values: integer || unit (not %)

@mixin columns ($columns, $column-width: auto) {
  -webkit-columns: $columns;
  -moz-columns: $columns;
  columns: $columns;
  -webkit-column-width: $column-width;
  -moz-column-width: $column-width;
  column-width: $column-width;
}

// column-count
// values: auto || integer

@mixin column-count ($column-count) {
  -webkit-column-count: $column-count;
  -moz-column-count: $column-count;
  column-count: $column-count;
}

// column-width
// values: auto || unit (not %)

@mixin column-width ($column-width) {
  -webkit-column-width: $column-width;
  -moz-column-width: $column-width;
  column-width: $column-width;
}

// column-gap
// values: normal (1em) || unit (not %)

@mixin column-gap ($column-gap) {
  -webkit-column-gap: $column-gap;
  -moz-column-gap: $column-gap;
  column-gap: $column-gap;
}

// column-span
// values: all || none

@mixin column-span ($column-span) {
  -webkit-column-span: $column-span;
  -moz-column-span: $column-span;
  column-span: $column-span;
}

// column-rule
// values: column-rule-width|column-rule-style|column-rule-color

@mixin column-rule ($column-rule-width, $column-rule-style, $column-rule-color) {
  -webkit-column-rule-width: $column-rule-width;
  -moz-column-rule-width: $column-rule-width;
  column-rule-width: $column-rule-width;
  -webkit-column-rule-style: $column-rule-style;
  -moz-column-rule-style: $column-rule-style;
  column-rule-style: $column-rule-style;
  -webkit-column-rule-color: $column-rule-color;
  -moz-column-rule-color: $column-rule-color;
  column-rule-color: $column-rule-color;
}

// break-inside
// usage: use avoid on an element within
// a multi-column layout to keep the property
// from breaking apart
// values: auto || avoid

// scss-lint:disable PropertySpelling
@mixin break-inside ($break-inside) {
  -webkit-column-break-inside: $break-inside;
  page-break-inside: $break-inside; // firefox
  break-inside: $break-inside;
}
// scss-lint:enable PropertySpelling
