@mixin icon-svg {
  background-image: url(/assets/homepage/#{$timestamp}/images/sprite/sprite-no-repeat.svg);
}

@mixin icon-alert-12x12-004276 {
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 12px;
  height: 12px;
}

@mixin icon-alert-12x12-a81817 {
  background-repeat: no-repeat;
  background-position: -13px 0;
  width: 12px;
  height: 12px;
}

@mixin icon-app-16x16-000000 {
  background-repeat: no-repeat;
  background-position: -26px 0;
  width: 16px;
  height: 16px;
}

@mixin icon-archive-16x16-000000 {
  background-repeat: no-repeat;
  background-position: -43px 0;
  width: 16px;
  height: 16px;
}

@mixin icon-audiopause-18x20-326891 {
  background-repeat: no-repeat;
  background-position: -60px 0;
  width: 18px;
  height: 20px;
}

@mixin icon-audiopause-18x20-777777 {
  background-repeat: no-repeat;
  background-position: -79px 0;
  width: 18px;
  height: 20px;
}

@mixin icon-audioplay-18x20-326891 {
  background-repeat: no-repeat;
  background-position: -98px 0;
  width: 18px;
  height: 20px;
}

@mixin icon-audioplay-18x20-777777 {
  background-repeat: no-repeat;
  background-position: -117px 0;
  width: 18px;
  height: 20px;
}

@mixin icon-bell-16x16-333333 {
  background-repeat: no-repeat;
  background-position: -136px 0;
  width: 16px;
  height: 16px;
}

@mixin icon-bell-16x16-5c5c5c {
  background-repeat: no-repeat;
  background-position: -153px 0;
  width: 16px;
  height: 16px;
}

@mixin icon-bell-16x16-f3f3f3 {
  background-repeat: no-repeat;
  background-position: -170px 0;
  width: 16px;
  height: 16px;
}

@mixin icon-bell-16x20-f3f3f3 {
  background-repeat: no-repeat;
  background-position: -187px 0;
  width: 16px;
  height: 20px;
}

@mixin icon-bell-16x20-ffffff {
  background-repeat: no-repeat;
  background-position: -204px 0;
  width: 16px;
  height: 20px;
}

@mixin icon-bullet-4x4-000000 {
  background-repeat: no-repeat;
  background-position: -221px 0;
  width: 4px;
  height: 4px;
}

@mixin icon-caret-5x7-666666 {
  background-repeat: no-repeat;
  background-position: -226px 0;
  width: 5px;
  height: 7px;
}

@mixin icon-check-9x9-ffffff {
  background-repeat: no-repeat;
  background-position: -232px 0;
  width: 9px;
  height: 9px;
}

@mixin icon-circle-check-16x16-000000 {
  background-repeat: no-repeat;
  background-position: -242px 0;
  width: 16px;
  height: 16px;
}

@mixin icon-comment-bubble-7x6-000000 {
  background-repeat: no-repeat;
  background-position: -259px 0;
  width: 7px;
  height: 6px;
}

@mixin icon-commentbubbletransparent-19x19-333333 {
  background-repeat: no-repeat;
  background-position: -267px 0;
  width: 19px;
  height: 19px;
}

@mixin icon-commentbubbletransparent-19x19-ffffff {
  background-repeat: no-repeat;
  background-position: -287px 0;
  width: 19px;
  height: 19px;
}

@mixin icon-comments-12x10-666666 {
  background-repeat: no-repeat;
  background-position: -307px 0;
  width: 12px;
  height: 10px;
}

@mixin icon-comments-12x10-cccccc {
  background-repeat: no-repeat;
  background-position: -320px 0;
  width: 12px;
  height: 10px;
}

@mixin icon-completed-thumbs-down-12x12-999999 {
  background-repeat: no-repeat;
  background-position: -333px 0;
  width: 12px;
  height: 12px;
}

@mixin icon-completed-thumbs-up-12x12-999999 {
  background-repeat: no-repeat;
  background-position: -346px 0;
  width: 12px;
  height: 12px;
}

@mixin icon-criticspick-16x16-c5a257 {
  background-repeat: no-repeat;
  background-position: -359px 0;
  width: 16px;
  height: 16px;
}

@mixin icon-crosswords-14x17-333333 {
  background-repeat: no-repeat;
  background-position: -376px 0;
  width: 14px;
  height: 17px;
}

@mixin icon-dot-3x3-000000 {
  background-repeat: no-repeat;
  background-position: -391px 0;
  width: 3px;
  height: 3px;
}

@mixin icon-downcaret-7x5-333333 {
  background-repeat: no-repeat;
  background-position: -395px 0;
  width: 7px;
  height: 5px;
}

@mixin icon-email-14x11-6288a5 {
  background-repeat: no-repeat;
  background-position: -403px 0;
  width: 14px;
  height: 11px;
}

@mixin icon-email-16x11-333333 {
  background-repeat: no-repeat;
  background-position: -418px 0;
  width: 16px;
  height: 11px;
}

@mixin icon-email-16x16-326891 {
  background-repeat: no-repeat;
  background-position: -435px 0;
  width: 16px;
  height: 16px;
}

@mixin icon-email-16x16-6288a5 {
  background-repeat: no-repeat;
  background-position: -452px 0;
  width: 16px;
  height: 16px;
}

@mixin icon-email-16x16-ffffff {
  background-repeat: no-repeat;
  background-position: -469px 0;
  width: 16px;
  height: 16px;
}

@mixin icon-email-19x13-333333 {
  background-repeat: no-repeat;
  background-position: -486px 0;
  width: 19px;
  height: 13px;
}

@mixin icon-email-20x20-333333 {
  background-repeat: no-repeat;
  background-position: 0 -21px;
  width: 20px;
  height: 20px;
}

@mixin icon-email-20x20-6288a5 {
  background-repeat: no-repeat;
  background-position: -21px -21px;
  width: 20px;
  height: 20px;
}

@mixin icon-email-20x20-ffffff {
  background-repeat: no-repeat;
  background-position: -42px -21px;
  width: 20px;
  height: 20px;
}

@mixin icon-email-22x15-333333 {
  background-repeat: no-repeat;
  background-position: -63px -21px;
  width: 22px;
  height: 15px;
}

@mixin icon-email-32x32-3b3b3b {
  background-repeat: no-repeat;
  background-position: -86px -21px;
  width: 32px;
  height: 32px;
}

@mixin icon-email-32x32-666666 {
  background-repeat: no-repeat;
  background-position: -119px -21px;
  width: 32px;
  height: 32px;
}

@mixin icon-email-circular-25x25-333333 {
  background-repeat: no-repeat;
  background-position: -152px -21px;
  width: 25px;
  height: 25px;
}

@mixin icon-email-circular-25x25-3b3b3b {
  background-repeat: no-repeat;
  background-position: -178px -21px;
  width: 25px;
  height: 25px;
}

@mixin icon-email-circular-25x25-666666 {
  background-repeat: no-repeat;
  background-position: -204px -21px;
  width: 25px;
  height: 25px;
}

@mixin icon-email-circular-outline-32x32-333333 {
  background-repeat: no-repeat;
  background-position: -230px -21px;
  width: 32px;
  height: 32px;
}

@mixin icon-emailalerts-16x16-000000 {
  background-repeat: no-repeat;
  background-position: -263px -21px;
  width: 16px;
  height: 16px;
}

@mixin icon-embed-16x11-6288a5 {
  background-repeat: no-repeat;
  background-position: -280px -21px;
  width: 16px;
  height: 11px;
}

@mixin icon-facebook-12x12-6288a5 {
  background-repeat: no-repeat;
  background-position: -297px -21px;
  width: 12px;
  height: 12px;
}

@mixin icon-facebook-12x12-a6a6a6 {
  background-repeat: no-repeat;
  background-position: -310px -21px;
  width: 12px;
  height: 12px;
}

@mixin icon-facebook-12x12-transparent {
  background-repeat: no-repeat;
  background-position: -323px -21px;
  width: 12px;
  height: 12px;
}

@mixin icon-facebook-15x22-ffffff {
  background-repeat: no-repeat;
  background-position: -336px -21px;
  width: 15px;
  height: 22px;
}

@mixin icon-facebook-16x16-326891 {
  background-repeat: no-repeat;
  background-position: -352px -21px;
  width: 16px;
  height: 16px;
}

@mixin icon-facebook-16x16-333333 {
  background-repeat: no-repeat;
  background-position: -369px -21px;
  width: 16px;
  height: 16px;
}

@mixin icon-facebook-16x16-6288a5 {
  background-repeat: no-repeat;
  background-position: -386px -21px;
  width: 16px;
  height: 16px;
}

@mixin icon-facebook-16x16-ffffff {
  background-repeat: no-repeat;
  background-position: -403px -21px;
  width: 16px;
  height: 16px;
}

@mixin icon-facebook-16x16-fullcolor {
  background-repeat: no-repeat;
  background-position: -420px -21px;
  width: 16px;
  height: 16px;
}

@mixin icon-facebook-20x20-326891 {
  background-repeat: no-repeat;
  background-position: -437px -21px;
  width: 20px;
  height: 20px;
}

@mixin icon-facebook-20x20-333333 {
  background-repeat: no-repeat;
  background-position: -458px -21px;
  width: 20px;
  height: 20px;
}

@mixin icon-facebook-20x20-6288a5 {
  background-repeat: no-repeat;
  background-position: -479px -21px;
  width: 20px;
  height: 20px;
}

@mixin icon-facebook-20x20-fullcolor {
  background-repeat: no-repeat;
  background-position: -500px -21px;
  width: 20px;
  height: 20px;
}

@mixin icon-facebook-32x32-3b3b3b {
  background-repeat: no-repeat;
  background-position: 0 -54px;
  width: 32px;
  height: 32px;
}

@mixin icon-facebook-32x32-fullcolor {
  background-repeat: no-repeat;
  background-position: -33px -54px;
  width: 32px;
  height: 32px;
}

@mixin icon-facebook-circular-25x25-333333 {
  background-repeat: no-repeat;
  background-position: -66px -54px;
  width: 25px;
  height: 25px;
}

@mixin icon-facebook-circular-25x25-3b3b3b {
  background-repeat: no-repeat;
  background-position: -92px -54px;
  width: 25px;
  height: 25px;
}

@mixin icon-facebook-circular-25x25-3b5998 {
  background-repeat: no-repeat;
  background-position: -118px -54px;
  width: 25px;
  height: 25px;
}

@mixin icon-flag-12x12-326891 {
  background-repeat: no-repeat;
  background-position: -144px -54px;
  width: 12px;
  height: 12px;
}

@mixin icon-google-15x22-ffffff {
  background-repeat: no-repeat;
  background-position: -157px -54px;
  width: 15px;
  height: 22px;
}

@mixin icon-google-circular-25x25-dd4b39 {
  background-repeat: no-repeat;
  background-position: -173px -54px;
  width: 25px;
  height: 25px;
}

@mixin icon-gplus-20x20-fullcolor {
  background-repeat: no-repeat;
  background-position: -199px -54px;
  width: 20px;
  height: 20px;
}

@mixin icon-gplus-circular-outline-32x32-fullcolor {
  background-repeat: no-repeat;
  background-position: -220px -54px;
  width: 32px;
  height: 32px;
}

@mixin icon-homedelivery-16x16-000000 {
  background-repeat: no-repeat;
  background-position: -253px -54px;
  width: 16px;
  height: 16px;
}

@mixin icon-homedelivery-16x16-ffffff {
  background-repeat: no-repeat;
  background-position: -270px -54px;
  width: 16px;
  height: 16px;
}

@mixin icon-imdb-42x20-000000 {
  background-repeat: no-repeat;
  background-position: -287px -54px;
  width: 42px;
  height: 20px;
}

@mixin icon-instagram-20x20-fullcolor {
  background-repeat: no-repeat;
  background-position: -330px -54px;
  width: 20px;
  height: 20px;
}

@mixin icon-linkedin-20x20-fullcolor {
  background-repeat: no-repeat;
  background-position: -351px -54px;
  width: 20px;
  height: 20px;
}

@mixin icon-linkedin-circular-25x25-0077b5 {
  background-repeat: no-repeat;
  background-position: -372px -54px;
  width: 25px;
  height: 25px;
}

@mixin icon-linkedin-circular-outline-32x32-fullcolor {
  background-repeat: no-repeat;
  background-position: -398px -54px;
  width: 32px;
  height: 32px;
}

@mixin icon-livevideo-16x16-a81817 {
  background-repeat: no-repeat;
  background-position: -431px -54px;
  width: 16px;
  height: 16px;
}

@mixin icon-markets-negative-13x11-a81817 {
  background-repeat: no-repeat;
  background-position: -448px -54px;
  width: 13px;
  height: 11px;
}

@mixin icon-markets-negative-5x9-a81817 {
  background-repeat: no-repeat;
  background-position: -462px -54px;
  width: 5px;
  height: 9px;
}

@mixin icon-markets-positive-13x11-3c8a37 {
  background-repeat: no-repeat;
  background-position: -468px -54px;
  width: 13px;
  height: 11px;
}

@mixin icon-markets-positive-5x9-3c8a37 {
  background-repeat: no-repeat;
  background-position: -482px -54px;
  width: 5px;
  height: 9px;
}

@mixin icon-media-audio-12x12-000000 {
  background-repeat: no-repeat;
  background-position: -488px -54px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-audio-12x12-999999 {
  background-repeat: no-repeat;
  background-position: 0 -87px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-audio-16x16-3d6790 {
  background-repeat: no-repeat;
  background-position: -13px -87px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-audio-16x16-999999 {
  background-repeat: no-repeat;
  background-position: -30px -87px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-audio-20x20-000000 {
  background-repeat: no-repeat;
  background-position: -47px -87px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-audio-20x20-6886a3 {
  background-repeat: no-repeat;
  background-position: -68px -87px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-document-12x12-000000 {
  background-repeat: no-repeat;
  background-position: -89px -87px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-document-12x12-999999 {
  background-repeat: no-repeat;
  background-position: -102px -87px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-document-16x16-3d6790 {
  background-repeat: no-repeat;
  background-position: -115px -87px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-document-16x16-999999 {
  background-repeat: no-repeat;
  background-position: -132px -87px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-document-20x20-000000 {
  background-repeat: no-repeat;
  background-position: -149px -87px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-document-20x20-6886a3 {
  background-repeat: no-repeat;
  background-position: -170px -87px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-graphic-12x12-000000 {
  background-repeat: no-repeat;
  background-position: -191px -87px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-graphic-12x12-999999 {
  background-repeat: no-repeat;
  background-position: -204px -87px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-graphic-16x16-3d6790 {
  background-repeat: no-repeat;
  background-position: -217px -87px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-graphic-16x16-999999 {
  background-repeat: no-repeat;
  background-position: -234px -87px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-graphic-20x20-000000 {
  background-repeat: no-repeat;
  background-position: -251px -87px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-graphic-20x20-6886a3 {
  background-repeat: no-repeat;
  background-position: -272px -87px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-interactive-12x12-000000 {
  background-repeat: no-repeat;
  background-position: -293px -87px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-interactive-12x12-999999 {
  background-repeat: no-repeat;
  background-position: -306px -87px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-interactive-16x16-3d6790 {
  background-repeat: no-repeat;
  background-position: -319px -87px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-interactive-16x16-999999 {
  background-repeat: no-repeat;
  background-position: -336px -87px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-interactive-16x16-ffffff {
  background-repeat: no-repeat;
  background-position: -353px -87px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-interactive-18x22-386a8e {
  background-repeat: no-repeat;
  background-position: -370px -87px;
  width: 18px;
  height: 22px;
}

@mixin icon-media-interactive-20x20-000000 {
  background-repeat: no-repeat;
  background-position: -389px -87px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-interactive-20x20-6886a3 {
  background-repeat: no-repeat;
  background-position: -410px -87px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-map-12x12-000000 {
  background-repeat: no-repeat;
  background-position: -431px -87px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-map-12x12-999999 {
  background-repeat: no-repeat;
  background-position: -444px -87px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-map-16x16-3d6790 {
  background-repeat: no-repeat;
  background-position: -457px -87px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-map-16x16-999999 {
  background-repeat: no-repeat;
  background-position: -474px -87px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-map-20x20-000000 {
  background-repeat: no-repeat;
  background-position: -491px -87px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-map-20x20-6886a3 {
  background-repeat: no-repeat;
  background-position: 0 -110px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-opart-12x12-000000 {
  background-repeat: no-repeat;
  background-position: -21px -110px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-opart-12x12-999999 {
  background-repeat: no-repeat;
  background-position: -34px -110px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-opart-16x16-3d6790 {
  background-repeat: no-repeat;
  background-position: -47px -110px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-opart-16x16-999999 {
  background-repeat: no-repeat;
  background-position: -64px -110px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-opart-20x20-000000 {
  background-repeat: no-repeat;
  background-position: -81px -110px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-opart-20x20-6886a3 {
  background-repeat: no-repeat;
  background-position: -102px -110px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-pause-10x12-326891 {
  background-repeat: no-repeat;
  background-position: -123px -110px;
  width: 10px;
  height: 12px;
}

@mixin icon-media-pause-10x12-777777 {
  background-repeat: no-repeat;
  background-position: -134px -110px;
  width: 10px;
  height: 12px;
}

@mixin icon-media-photo-12x12-000000 {
  background-repeat: no-repeat;
  background-position: -145px -110px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-photo-12x12-999999 {
  background-repeat: no-repeat;
  background-position: -158px -110px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-photo-16x16-3d6790 {
  background-repeat: no-repeat;
  background-position: -171px -110px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-photo-16x16-999999 {
  background-repeat: no-repeat;
  background-position: -188px -110px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-photo-20x20-000000 {
  background-repeat: no-repeat;
  background-position: -205px -110px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-photo-20x20-6886a3 {
  background-repeat: no-repeat;
  background-position: -226px -110px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-recipe-12x12-000000 {
  background-repeat: no-repeat;
  background-position: -247px -110px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-recipe-12x12-999999 {
  background-repeat: no-repeat;
  background-position: -260px -110px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-recipe-16x16-3d6790 {
  background-repeat: no-repeat;
  background-position: -273px -110px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-recipe-16x16-999999 {
  background-repeat: no-repeat;
  background-position: -290px -110px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-recipe-20x20-000000 {
  background-repeat: no-repeat;
  background-position: -307px -110px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-recipe-20x20-6886a3 {
  background-repeat: no-repeat;
  background-position: -328px -110px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-slideshow-12x12-000000 {
  background-repeat: no-repeat;
  background-position: -349px -110px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-slideshow-12x12-999999 {
  background-repeat: no-repeat;
  background-position: -362px -110px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-slideshow-16x14-ffffff {
  background-repeat: no-repeat;
  background-position: -375px -110px;
  width: 16px;
  height: 14px;
}

@mixin icon-media-slideshow-16x16-3d6790 {
  background-repeat: no-repeat;
  background-position: -392px -110px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-slideshow-16x16-999999 {
  background-repeat: no-repeat;
  background-position: -409px -110px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-slideshow-20x20-000000 {
  background-repeat: no-repeat;
  background-position: -426px -110px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-slideshow-20x20-6886a3 {
  background-repeat: no-repeat;
  background-position: -447px -110px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-slideshow-22x19-ffffff {
  background-repeat: no-repeat;
  background-position: -468px -110px;
  width: 22px;
  height: 19px;
}

@mixin icon-media-slideshow-28x24-ffffff {
  background-repeat: no-repeat;
  background-position: -491px -110px;
  width: 28px;
  height: 24px;
}

@mixin icon-media-slideshow-32x28-ffffff {
  background-repeat: no-repeat;
  background-position: 0 -135px;
  width: 32px;
  height: 28px;
}

@mixin icon-media-trailer-12x12-000000 {
  background-repeat: no-repeat;
  background-position: -33px -135px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-trailer-12x12-999999 {
  background-repeat: no-repeat;
  background-position: -46px -135px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-trailer-16x16-3d6790 {
  background-repeat: no-repeat;
  background-position: -59px -135px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-trailer-16x16-999999 {
  background-repeat: no-repeat;
  background-position: -76px -135px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-trailer-20x20-000000 {
  background-repeat: no-repeat;
  background-position: -93px -135px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-trailer-20x20-6886a3 {
  background-repeat: no-repeat;
  background-position: -114px -135px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-video-12x12-000000 {
  background-repeat: no-repeat;
  background-position: -135px -135px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-video-12x12-999999 {
  background-repeat: no-repeat;
  background-position: -148px -135px;
  width: 12px;
  height: 12px;
}

@mixin icon-media-video-16x16-3d6790 {
  background-repeat: no-repeat;
  background-position: -161px -135px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-video-16x16-999999 {
  background-repeat: no-repeat;
  background-position: -178px -135px;
  width: 16px;
  height: 16px;
}

@mixin icon-media-video-18x12-ffffff {
  background-repeat: no-repeat;
  background-position: -195px -135px;
  width: 18px;
  height: 12px;
}

@mixin icon-media-video-20x20-000000 {
  background-repeat: no-repeat;
  background-position: -214px -135px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-video-20x20-6886a3 {
  background-repeat: no-repeat;
  background-position: -235px -135px;
  width: 20px;
  height: 20px;
}

@mixin icon-media-viewer-38x38-transparent {
  background-repeat: no-repeat;
  background-position: -256px -135px;
  width: 38px;
  height: 38px;
}

@mixin icon-minus-12x12-326891 {
  background-repeat: no-repeat;
  background-position: -295px -135px;
  width: 12px;
  height: 12px;
}

@mixin icon-minus-12x12-bfd0dd {
  background-repeat: no-repeat;
  background-position: -308px -135px;
  width: 12px;
  height: 12px;
}

@mixin icon-minus-8x2-ffffff {
  background-repeat: no-repeat;
  background-position: -321px -135px;
  width: 8px;
  height: 2px;
}

@mixin icon-more-32x32-3b3b3b {
  background-repeat: no-repeat;
  background-position: -330px -135px;
  width: 32px;
  height: 32px;
}

@mixin icon-more-32x32-666666 {
  background-repeat: no-repeat;
  background-position: -363px -135px;
  width: 32px;
  height: 32px;
}

@mixin icon-newsletter-16x16-000000 {
  background-repeat: no-repeat;
  background-position: -396px -135px;
  width: 16px;
  height: 16px;
}

@mixin icon-nytpick-32x41-transparent {
  background-repeat: no-repeat;
  background-position: -413px -135px;
  width: 32px;
  height: 41px;
}

@mixin icon-opentable-89x23-000000 {
  background-repeat: no-repeat;
  background-position: -446px -135px;
  width: 89px;
  height: 23px;
}

@mixin icon-pinterest-16x16-ffffff {
  background-repeat: no-repeat;
  background-position: 0 -177px;
  width: 16px;
  height: 16px;
}

@mixin icon-pinterest-16x16-fullcolor {
  background-repeat: no-repeat;
  background-position: -17px -177px;
  width: 16px;
  height: 16px;
}

@mixin icon-pinterest-20x20-fullcolor {
  background-repeat: no-repeat;
  background-position: -34px -177px;
  width: 20px;
  height: 20px;
}

@mixin icon-pinterest-32x32-3b3b3b {
  background-repeat: no-repeat;
  background-position: -55px -177px;
  width: 32px;
  height: 32px;
}

@mixin icon-pinterest-32x32-fullcolor {
  background-repeat: no-repeat;
  background-position: -88px -177px;
  width: 32px;
  height: 32px;
}

@mixin icon-pinterest-circular-25x25-333333 {
  background-repeat: no-repeat;
  background-position: -121px -177px;
  width: 25px;
  height: 25px;
}

@mixin icon-pinterest-circular-25x25-3b3b3b {
  background-repeat: no-repeat;
  background-position: -147px -177px;
  width: 25px;
  height: 25px;
}

@mixin icon-pinterest-circular-25x25-cb2027 {
  background-repeat: no-repeat;
  background-position: -173px -177px;
  width: 25px;
  height: 25px;
}

@mixin icon-play-13x13-ffffff {
  background-repeat: no-repeat;
  background-position: -199px -177px;
  width: 13px;
  height: 13px;
}

@mixin icon-play-18x23-ebebeb {
  background-repeat: no-repeat;
  background-position: -213px -177px;
  width: 18px;
  height: 23px;
}

@mixin icon-play-20x26-ebebeb {
  background-repeat: no-repeat;
  background-position: -232px -177px;
  width: 20px;
  height: 26px;
}

@mixin icon-play-25x32-ebebeb {
  background-repeat: no-repeat;
  background-position: -253px -177px;
  width: 25px;
  height: 32px;
}

@mixin icon-plus-8x8-333333 {
  background-repeat: no-repeat;
  background-position: -279px -177px;
  width: 8px;
  height: 8px;
}

@mixin icon-plus-8x8-ffffff {
  background-repeat: no-repeat;
  background-position: -288px -177px;
  width: 8px;
  height: 8px;
}

@mixin icon-print-20x20-6288a5 {
  background-repeat: no-repeat;
  background-position: -297px -177px;
  width: 20px;
  height: 20px;
}

@mixin icon-print-outline-20x18-333333 {
  background-repeat: no-repeat;
  background-position: -318px -177px;
  width: 20px;
  height: 18px;
}

@mixin icon-recipe-16x16-6287a4 {
  background-repeat: no-repeat;
  background-position: -339px -177px;
  width: 16px;
  height: 16px;
}

@mixin icon-recipe-20x20-6287a4 {
  background-repeat: no-repeat;
  background-position: -356px -177px;
  width: 20px;
  height: 20px;
}

@mixin icon-recommend-12x12-326891 {
  background-repeat: no-repeat;
  background-position: -377px -177px;
  width: 12px;
  height: 12px;
}

@mixin icon-recommend-12x12-999999 {
  background-repeat: no-repeat;
  background-position: -390px -177px;
  width: 12px;
  height: 12px;
}

@mixin icon-recommendations-14x17-333333 {
  background-repeat: no-repeat;
  background-position: -403px -177px;
  width: 14px;
  height: 17px;
}

@mixin icon-recommended-12x12-326891 {
  background-repeat: no-repeat;
  background-position: -418px -177px;
  width: 12px;
  height: 12px;
}

@mixin icon-recommended-12x12-999999 {
  background-repeat: no-repeat;
  background-position: -431px -177px;
  width: 12px;
  height: 12px;
}

@mixin icon-recommended-13x10-666666 {
  background-repeat: no-repeat;
  background-position: -444px -177px;
  width: 13px;
  height: 10px;
}

@mixin icon-recommended-13x10-cccccc {
  background-repeat: no-repeat;
  background-position: -458px -177px;
  width: 13px;
  height: 10px;
}

@mixin icon-reddit-20x20-fullcolor {
  background-repeat: no-repeat;
  background-position: -472px -177px;
  width: 20px;
  height: 20px;
}

@mixin icon-reddit-circular-25x25-cfe3f7 {
  background-repeat: no-repeat;
  background-position: -493px -177px;
  width: 25px;
  height: 25px;
}

@mixin icon-reddit-circular-outline-32x32-fullcolor {
  background-repeat: no-repeat;
  background-position: 0 -210px;
  width: 32px;
  height: 32px;
}

@mixin icon-replayarrow-16x16-ffffff {
  background-repeat: no-repeat;
  background-position: -33px -210px;
  width: 16px;
  height: 16px;
}

@mixin icon-reprint-20x20-6288a5 {
  background-repeat: no-repeat;
  background-position: -50px -210px;
  width: 20px;
  height: 20px;
}

@mixin icon-reprint-outline-18x20-333333 {
  background-repeat: no-repeat;
  background-position: -71px -210px;
  width: 18px;
  height: 20px;
}

@mixin icon-round-bookmark-32x32-fullcolor {
  background-repeat: no-repeat;
  background-position: -90px -210px;
  width: 32px;
  height: 32px;
}

@mixin icon-round-mail-32x32-fullcolor {
  background-repeat: no-repeat;
  background-position: -123px -210px;
  width: 32px;
  height: 32px;
}

@mixin icon-round-person-32x32-fullcolor {
  background-repeat: no-repeat;
  background-position: -156px -210px;
  width: 32px;
  height: 32px;
}

@mixin icon-rss-14x14-326891 {
  background-repeat: no-repeat;
  background-position: -189px -210px;
  width: 14px;
  height: 14px;
}

@mixin icon-rss-14x14-6288a5 {
  background-repeat: no-repeat;
  background-position: -204px -210px;
  width: 14px;
  height: 14px;
}

@mixin icon-save-16x16-6288a5 {
  background-repeat: no-repeat;
  background-position: -219px -210px;
  width: 16px;
  height: 16px;
}

@mixin icon-save-16x16-ffffff {
  background-repeat: no-repeat;
  background-position: -236px -210px;
  width: 16px;
  height: 16px;
}

@mixin icon-save-16x25-333333 {
  background-repeat: no-repeat;
  background-position: -253px -210px;
  width: 16px;
  height: 25px;
}

@mixin icon-save-16x25-3b3b3b {
  background-repeat: no-repeat;
  background-position: -270px -210px;
  width: 16px;
  height: 25px;
}

@mixin icon-save-16x25-666666 {
  background-repeat: no-repeat;
  background-position: -287px -210px;
  width: 16px;
  height: 25px;
}

@mixin icon-save-17x24-ffffff {
  background-repeat: no-repeat;
  background-position: -304px -210px;
  width: 17px;
  height: 24px;
}

@mixin icon-save-20x20-6288a5 {
  background-repeat: no-repeat;
  background-position: -322px -210px;
  width: 20px;
  height: 20px;
}

@mixin icon-save-30x26-004276 {
  background-repeat: no-repeat;
  background-position: -343px -210px;
  width: 30px;
  height: 26px;
}

@mixin icon-save-30x26-333333 {
  background-repeat: no-repeat;
  background-position: -374px -210px;
  width: 30px;
  height: 26px;
}

@mixin icon-save-outline-16x25-666666 {
  background-repeat: no-repeat;
  background-position: -405px -210px;
  width: 16px;
  height: 25px;
}

@mixin icon-save-outline-16x25-cccccc {
  background-repeat: no-repeat;
  background-position: -422px -210px;
  width: 16px;
  height: 25px;
}

@mixin icon-saved-16x25-333333 {
  background-repeat: no-repeat;
  background-position: -439px -210px;
  width: 16px;
  height: 25px;
}

@mixin icon-search-16x16-333333 {
  background-repeat: no-repeat;
  background-position: -456px -210px;
  width: 16px;
  height: 16px;
}

@mixin icon-search-16x16-999999 {
  background-repeat: no-repeat;
  background-position: -473px -210px;
  width: 16px;
  height: 16px;
}

@mixin icon-search-16x16-f3f3f3 {
  background-repeat: no-repeat;
  background-position: -490px -210px;
  width: 16px;
  height: 16px;
}

@mixin icon-search-16x16-ffffff {
  background-repeat: no-repeat;
  background-position: 0 -243px;
  width: 16px;
  height: 16px;
}

@mixin icon-search-8x8-336699 {
  background-repeat: no-repeat;
  background-position: -17px -243px;
  width: 8px;
  height: 8px;
}

@mixin icon-search-8x8-999999 {
  background-repeat: no-repeat;
  background-position: -26px -243px;
  width: 8px;
  height: 8px;
}

@mixin icon-sections-16x16-333333 {
  background-repeat: no-repeat;
  background-position: -35px -243px;
  width: 16px;
  height: 16px;
}

@mixin icon-sections-16x16-f3f3f3 {
  background-repeat: no-repeat;
  background-position: -52px -243px;
  width: 16px;
  height: 16px;
}

@mixin icon-sections-16x16-ffffff {
  background-repeat: no-repeat;
  background-position: -69px -243px;
  width: 16px;
  height: 16px;
}

@mixin icon-settings-16x16-333333 {
  background-repeat: no-repeat;
  background-position: -86px -243px;
  width: 16px;
  height: 16px;
}

@mixin icon-settings-16x16-5c5c5c {
  background-repeat: no-repeat;
  background-position: -103px -243px;
  width: 16px;
  height: 16px;
}

@mixin icon-settings-16x16-f3f3f3 {
  background-repeat: no-repeat;
  background-position: -120px -243px;
  width: 16px;
  height: 16px;
}

@mixin icon-settings-16x16-ffffff {
  background-repeat: no-repeat;
  background-position: -137px -243px;
  width: 16px;
  height: 16px;
}

@mixin icon-share-14x11-6288a5 {
  background-repeat: no-repeat;
  background-position: -154px -243px;
  width: 14px;
  height: 11px;
}

@mixin icon-share-16x16-326891 {
  background-repeat: no-repeat;
  background-position: -169px -243px;
  width: 16px;
  height: 16px;
}

@mixin icon-share-16x16-6288a5 {
  background-repeat: no-repeat;
  background-position: -186px -243px;
  width: 16px;
  height: 16px;
}

@mixin icon-share-16x16-ffffff {
  background-repeat: no-repeat;
  background-position: -203px -243px;
  width: 16px;
  height: 16px;
}

@mixin icon-share-20x20-333333 {
  background-repeat: no-repeat;
  background-position: -220px -243px;
  width: 20px;
  height: 20px;
}

@mixin icon-share-20x20-35698d {
  background-repeat: no-repeat;
  background-position: -241px -243px;
  width: 20px;
  height: 20px;
}

@mixin icon-share-20x20-515151 {
  background-repeat: no-repeat;
  background-position: -262px -243px;
  width: 20px;
  height: 20px;
}

@mixin icon-share-20x20-6288a5 {
  background-repeat: no-repeat;
  background-position: -283px -243px;
  width: 20px;
  height: 20px;
}

@mixin icon-share-20x20-cccccc {
  background-repeat: no-repeat;
  background-position: -304px -243px;
  width: 20px;
  height: 20px;
}

@mixin icon-share-20x20-ffffff {
  background-repeat: no-repeat;
  background-position: -325px -243px;
  width: 20px;
  height: 20px;
}

@mixin icon-share-circular-25x25-333333 {
  background-repeat: no-repeat;
  background-position: -346px -243px;
  width: 25px;
  height: 25px;
}

@mixin icon-share-circular-25x25-3b3b3b {
  background-repeat: no-repeat;
  background-position: -372px -243px;
  width: 25px;
  height: 25px;
}

@mixin icon-share-circular-25x25-666666 {
  background-repeat: no-repeat;
  background-position: -398px -243px;
  width: 25px;
  height: 25px;
}

@mixin icon-share-circular-outline-32x32-333333 {
  background-repeat: no-repeat;
  background-position: -424px -243px;
  width: 32px;
  height: 32px;
}

@mixin icon-share-transparent-19x19-333333 {
  background-repeat: no-repeat;
  background-position: -457px -243px;
  width: 19px;
  height: 19px;
}

@mixin icon-share-transparent-19x19-ffffff {
  background-repeat: no-repeat;
  background-position: -477px -243px;
  width: 19px;
  height: 19px;
}

@mixin icon-shareallarrow-24x24-4d4d4d {
  background-repeat: no-repeat;
  background-position: -497px -243px;
  width: 24px;
  height: 24px;
}

@mixin icon-sharedaccess-16x16-000000 {
  background-repeat: no-repeat;
  background-position: 0 -276px;
  width: 16px;
  height: 16px;
}

@mixin icon-snapchat-20x20-fullcolor {
  background-repeat: no-repeat;
  background-position: -17px -276px;
  width: 20px;
  height: 20px;
}

@mixin icon-star-14x14-333333 {
  background-repeat: no-repeat;
  background-position: -38px -276px;
  width: 14px;
  height: 14px;
}

@mixin icon-star-14x14-c5a257 {
  background-repeat: no-repeat;
  background-position: -53px -276px;
  width: 14px;
  height: 14px;
}

@mixin icon-star-16x16-333333 {
  background-repeat: no-repeat;
  background-position: -68px -276px;
  width: 16px;
  height: 16px;
}

@mixin icon-star-20x20-333333 {
  background-repeat: no-repeat;
  background-position: -85px -276px;
  width: 20px;
  height: 20px;
}

@mixin icon-t-logo-12x12-ffffff-333333 {
  background-repeat: no-repeat;
  background-position: -106px -276px;
  width: 12px;
  height: 12px;
}

@mixin icon-t-logo-16x16-000000 {
  background-repeat: no-repeat;
  background-position: -119px -276px;
  width: 16px;
  height: 16px;
}

@mixin icon-t-logo-16x16-333333 {
  background-repeat: no-repeat;
  background-position: -136px -276px;
  width: 16px;
  height: 16px;
}

@mixin icon-t-logo-16x16-f3f3f3 {
  background-repeat: no-repeat;
  background-position: -153px -276px;
  width: 16px;
  height: 16px;
}

@mixin icon-t-logo-16x16-ffffff {
  background-repeat: no-repeat;
  background-position: -170px -276px;
  width: 16px;
  height: 16px;
}

@mixin icon-t-logo-9x12-515151 {
  background-repeat: no-repeat;
  background-position: -187px -276px;
  width: 9px;
  height: 12px;
}

@mixin icon-t-logo-badge-16x16-000000 {
  background-repeat: no-repeat;
  background-position: -197px -276px;
  width: 16px;
  height: 16px;
}

@mixin icon-t-logo-badge-16x16-ffffff {
  background-repeat: no-repeat;
  background-position: -214px -276px;
  width: 16px;
  height: 16px;
}

@mixin icon-t-logo-transparent-17x17-333333 {
  background-repeat: no-repeat;
  background-position: -231px -276px;
  width: 17px;
  height: 17px;
}

@mixin icon-t-logo-transparent-17x17-ffffff {
  background-repeat: no-repeat;
  background-position: -249px -276px;
  width: 17px;
  height: 17px;
}

@mixin icon-thumbs-down-12x11-333333 {
  background-repeat: no-repeat;
  background-position: -267px -276px;
  width: 12px;
  height: 11px;
}

@mixin icon-thumbs-down-12x11-999999 {
  background-repeat: no-repeat;
  background-position: -280px -276px;
  width: 12px;
  height: 11px;
}

@mixin icon-thumbs-up-12x11-333333 {
  background-repeat: no-repeat;
  background-position: -293px -276px;
  width: 12px;
  height: 11px;
}

@mixin icon-thumbs-up-12x11-999999 {
  background-repeat: no-repeat;
  background-position: -306px -276px;
  width: 12px;
  height: 11px;
}

@mixin icon-todayspaper-12x12-333333 {
  background-repeat: no-repeat;
  background-position: -319px -276px;
  width: 12px;
  height: 12px;
}

@mixin icon-trusted-12x12-51d0a2 {
  background-repeat: no-repeat;
  background-position: -332px -276px;
  width: 12px;
  height: 12px;
}

@mixin icon-tumblr-20x20-fullcolor {
  background-repeat: no-repeat;
  background-position: -345px -276px;
  width: 20px;
  height: 20px;
}

@mixin icon-twitter-12x12-6288a5 {
  background-repeat: no-repeat;
  background-position: -366px -276px;
  width: 12px;
  height: 12px;
}

@mixin icon-twitter-12x12-a6a6a6 {
  background-repeat: no-repeat;
  background-position: -379px -276px;
  width: 12px;
  height: 12px;
}

@mixin icon-twitter-12x12-transparent {
  background-repeat: no-repeat;
  background-position: -392px -276px;
  width: 12px;
  height: 12px;
}

@mixin icon-twitter-16x16-326891 {
  background-repeat: no-repeat;
  background-position: -405px -276px;
  width: 16px;
  height: 16px;
}

@mixin icon-twitter-16x16-333333 {
  background-repeat: no-repeat;
  background-position: -422px -276px;
  width: 16px;
  height: 16px;
}

@mixin icon-twitter-16x16-6288a5 {
  background-repeat: no-repeat;
  background-position: -439px -276px;
  width: 16px;
  height: 16px;
}

@mixin icon-twitter-16x16-ffffff {
  background-repeat: no-repeat;
  background-position: -456px -276px;
  width: 16px;
  height: 16px;
}

@mixin icon-twitter-16x16-fullcolor {
  background-repeat: no-repeat;
  background-position: -473px -276px;
  width: 16px;
  height: 16px;
}

@mixin icon-twitter-20x20-326891 {
  background-repeat: no-repeat;
  background-position: -490px -276px;
  width: 20px;
  height: 20px;
}

@mixin icon-twitter-20x20-333333 {
  background-repeat: no-repeat;
  background-position: 0 -297px;
  width: 20px;
  height: 20px;
}

@mixin icon-twitter-20x20-6288a5 {
  background-repeat: no-repeat;
  background-position: -21px -297px;
  width: 20px;
  height: 20px;
}

@mixin icon-twitter-20x20-fullcolor {
  background-repeat: no-repeat;
  background-position: -42px -297px;
  width: 20px;
  height: 20px;
}

@mixin icon-twitter-32x32-3b3b3b {
  background-repeat: no-repeat;
  background-position: -63px -297px;
  width: 32px;
  height: 32px;
}

@mixin icon-twitter-32x32-fullcolor {
  background-repeat: no-repeat;
  background-position: -96px -297px;
  width: 32px;
  height: 32px;
}

@mixin icon-twitter-circular-25x25-333333 {
  background-repeat: no-repeat;
  background-position: -129px -297px;
  width: 25px;
  height: 25px;
}

@mixin icon-twitter-circular-25x25-3b3b3b {
  background-repeat: no-repeat;
  background-position: -155px -297px;
  width: 25px;
  height: 25px;
}

@mixin icon-twitter-circular-25x25-4099ff {
  background-repeat: no-repeat;
  background-position: -181px -297px;
  width: 25px;
  height: 25px;
}

@mixin icon-user-16x16-6288a5 {
  background-repeat: no-repeat;
  background-position: -207px -297px;
  width: 16px;
  height: 16px;
}

@mixin icon-user-16x16-ffffff {
  background-repeat: no-repeat;
  background-position: -224px -297px;
  width: 16px;
  height: 16px;
}

@mixin icon-video-12x8-333333 {
  background-repeat: no-repeat;
  background-position: -241px -297px;
  width: 12px;
  height: 8px;
}

@mixin icon-video-14x17-333333 {
  background-repeat: no-repeat;
  background-position: -254px -297px;
  width: 14px;
  height: 17px;
}

@mixin icon-zoom-in-18x18-ffffff {
  background-repeat: no-repeat;
  background-position: -269px -297px;
  width: 18px;
  height: 18px;
}

@mixin icon-weather-01-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -288px -297px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-01-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -313px -297px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-02-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -364px -297px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-02-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -389px -297px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-03-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -440px -297px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-03-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -465px -297px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-04-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: 0 -338px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-04-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -25px -338px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-05-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -76px -338px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-05-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -101px -338px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-06-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -152px -338px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-06-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -177px -338px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-07-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -228px -338px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-07-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -253px -338px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-08-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -304px -338px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-08-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -329px -338px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-11-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -380px -338px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-11-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -405px -338px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-12-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -456px -338px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-12-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -481px -338px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-13-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: 0 -379px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-13-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -25px -379px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-14-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -76px -379px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-14-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -101px -379px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-15-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -152px -379px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-15-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -177px -379px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-16-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -228px -379px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-16-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -253px -379px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-17-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -304px -379px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-17-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -329px -379px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-18-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -380px -379px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-18-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -405px -379px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-19-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -456px -379px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-19-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -481px -379px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-20-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: 0 -420px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-20-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -25px -420px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-21-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -76px -420px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-21-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -101px -420px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-22-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -152px -420px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-22-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -177px -420px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-23-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -228px -420px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-23-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -253px -420px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-24-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -304px -420px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-24-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -329px -420px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-25-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -380px -420px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-25-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -405px -420px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-26-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -456px -420px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-26-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -481px -420px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-29-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: 0 -461px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-29-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -25px -461px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-30-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -76px -461px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-30-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -101px -461px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-31-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -152px -461px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-31-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -177px -461px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-32-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -228px -461px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-32-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -253px -461px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-33-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -304px -461px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-33-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -329px -461px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-34-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -380px -461px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-34-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -405px -461px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-35-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -456px -461px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-35-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -481px -461px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-36-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: 0 -502px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-36-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -25px -502px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-37-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -76px -502px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-37-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -101px -502px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-38-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -152px -502px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-38-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -177px -502px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-39-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -228px -502px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-39-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -253px -502px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-40-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -304px -502px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-40-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -329px -502px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-41-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -380px -502px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-41-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -405px -502px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-42-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -456px -502px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-42-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -481px -502px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-43-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: 0 -543px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-43-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -25px -543px;
  width: 50px;
  height: 40px;
}

@mixin icon-weather-44-24x19-fullcolor {
  background-repeat: no-repeat;
  background-position: -76px -543px;
  width: 24px;
  height: 19px;
}

@mixin icon-weather-44-50x40-fullcolor {
  background-repeat: no-repeat;
  background-position: -101px -543px;
  width: 50px;
  height: 40px;
}

